@model EditGuestViewModel

@{
    ViewBag.Title = "Edit Guest";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@section Scripts
{
    <script type="text/javascript">
        var data = @Html.Raw(Model.ToJsonString());

        $(function() {
            var vm = new $paramount.models.EditGuest(data);
            ko.applyBindings(vm, document.getElementsByClassName('edit-guest-view')[0]);
        });

    </script>
}

<div class="container top-buffer-60 edit-guest-view">
    <h1 class="page-header">Edit guest information</h1>

    <div class="row">
        <div class="col-md-offset-9 col-sm-offset-8 col-sm-4 col-md-3">
            <a class="btn btn-default btn-block js-load" href="@Url.ManageGuests(Model.AdId, Model.EventId.GetValueOrDefault())">
                <i class="fa fa-arrow-circle-left"></i>
                <span class="hidden-xs">Event</span> Guests
            </a>
        </div>
    </div>

    <div class="row top-buffer-20">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user"></i> Guest Info
                </div>
                <div class="panel-body">

                    <div class="form-group" data-bind="validationElement: guestFullName">
                        <label for="guestFullName" class="control-label">Full Name:</label>
                        <input id="guestFullName" data-bind="value: guestFullName" type="text" class="form-control" />
                    </div>

                    <div class="form-group top-buffer-10" data-bind="validationElement: guestEmail">
                        <label for="guestEmail" class="control-label">Email *:</label>
                        <input id="guestEmail" data-bind="value: guestEmail, valueUpdate: 'keyup'" type="text" class="form-control" />
                    </div>

                    <div class="form-group" data-bind="visible: displayGuests">
                        <label class="control-label">Privacy</label> <br />
                        <input type="checkbox" data-bind="toggle: isPublic" data-onstyle="success" data-on="Public" data-off="Private" />
                        <span class="help-block">
                            Displaying guests is turned on. If Public selected, then anyone can see this guest coming to the event.
                        </span>
                    </div>

                    <div class="alert alert-info-alt top-buffer-10" data-bind="visible: isEmailDifferent">
                        We detected a transfer to a new email. Do you want to send a transfer email to both parties?
                        <br />
                        <input type="checkbox" data-bind="toggle: sendTransferEmail" data-onstyle="success" data-on="Yes" data-off="No" />
                    </div>


                    <div class="row" data-bind="visible: fields().length> 0">
                        <div class="col-md-12">
                            <h4 class="page-header">
                                Additional Fields
                            </h4>
                            <!-- ko foreach: fields -->

                            <div class="form-group-lg" data-bind="validationElement: fieldValue">
                                <label class="control-label" data-bind="text: fieldName"></label>
                                <span data-bind="visible: isRequired">*</span>
                                <input type="text" data-bind="value: fieldValue" class="form-control" />
                            </div>

                            <!-- /ko -->
                        </div>
                    </div>

                    <div class="row" data-bind="visible: groups().length > 0">
                        <div class="col-md-12">
                            <h4 class="page-header">
                                Group
                            </h4>

                            <div class="form-group-lg">
                                <select class="form-control input-lg"
                                        data-bind="options: groups, optionsText: 'groupName', value: selectedGroup, optionsCaption: 'Un-Assigned...', attr : {'data-guestName' : guestFullName}"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="serverValidation" style="display: none">
                                <div class="alert alert-danger"></div>
                            </div>
                        </div>
                        <div class="col-sm-offset-10 col-sm-2">
                            <button id="btnUpdateGuest" class="btn btn-block btn-success" data-bind="click: save" data-loading-text="Please Wait...">
                                Update <i class="fa fa-upload"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-ticket"></i> Ticket Information
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">Ticket Number : <strong>@Model.EventBookingTicketId</strong></li>
                    <li class="list-group-item">Ticket Name : <strong>@Model.TicketName</strong></li>
                    <li class="list-group-item">Price : <strong>@Model.TicketPrice.ToString("C")</strong></li>
                    <li class="list-group-item">Purchase Date : <strong>@Model.TicketPurchaseDate.ToString("dd-MMM-yyyy hh:mm tt")</strong></li>
                    <li class="list-group-item">Booking Number: <strong>@Model.EventBookingId</strong></li>
                </ul>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-envelope-square"></i> Notifications
                </div>
                <div class="panel-body">
                    <p>
                        By clicking the button below, an email will be sent to <span data-bind="text: originalGuestEmail"></span>
                    </p>
                    <button id="btnResendGuestTicket" class="btn btn-default" data-bind="click: resendGuestEmail" data-loading-text="Please Wait...">
                        Resend Email to Guest
                    </button>
                </div>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <i class="fa fa-warning"></i> Danger Zone
                </div>
                <div class="panel-body">

                    @if (Model.RemovingGuestWillCancelBooking)
                    {
                        <p>
                            This guest belongs to a booking that has only one guest remaining.
                            Removing the guest will mean the booking is cancelled also.
                        </p>
                    }
                    else
                    {
                        <p>
                            This guest belongs to booking number @Model.EventBookingId that has multiple active guests.
                            Removing @Model.GuestFullName will keep the booking active until there are no more guests.
                        </p>
                    }
                    <button class="btn btn-danger" data-toggle="modal" data-target="#removeGuestDialog" id="btnRemoveGuest">
                        Remove Guest
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="removeGuestDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Remove Guest</h4>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        <strong><i class="fa fa-warning"></i> Danger: </strong>
                        This action is not reversable and any refund will need to be organised offline.

                    <p class="alert alert-info-alt">
                        <label>
                            Do you want to send a notification to the guest about their removal from the event?
                        </label>
                        <input type="checkbox" data-bind="toggle: sendEmailToGuestAboutRemoval" data-onstyle="success" data-on="Yes" data-off="No" />
                    </p>
                    <p>
                        Are you sure you want to continue?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No thanks</button>
                    <button type="button" class="btn btn-danger confirm-cancel js-load" data-bind="click: removeGuest" id="btnConfirmRemoveGuest">
                        Yes, do it.
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
