@model EditGuestViewModel

@{
    ViewBag.Title = "Edit Guest";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@section Scripts
{
    <script type="text/javascript">
        var data = @Html.Raw(Model.ToJsonString());

        $(function() {
            var vm = new $paramount.models.EditGuest(data);
            ko.applyBindings(vm, document.getElementsByClassName('edit-guest-view')[0]);
        });

    </script>
}

<div class="container top-buffer-60 edit-guest-view">
    <h1 class="page-header">Edit guest information</h1>

    <div class="row">
        <div class="col-md-offset-9 col-sm-offset-8 col-sm-4 col-md-3">
            <a class="btn btn-default btn-block js-load" href="@Url.EventDashboard(Model.AdId)">
                <i class="fa fa-arrow-circle-left"></i> Event Dashboard
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group-lg" data-bind="validationElement: guestFullName">
                <label for="guestFullName" class="control-label">Full Name:</label>
                <input id="guestFullName" data-bind="value: guestFullName" type="text" class="form-control" />
            </div>

            <div class="form-group-lg" data-bind="validationElement: guestEmail">
                <label for="guestEmail" class="control-label">Email *:</label>
                <input id="guestEmail" data-bind="value: guestEmail, valueUpdate: 'keyup'" type="text" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row top-buffer-20">
        <div class="col-md-12" data-bind="visible: isEmailDifferent">
            <div class="alert alert-info-alt">
                Do you want to send an email to the new recipient?
                <br/>
                <input type="checkbox" data-bind="toggle: sendEmailToGuest" data-onstyle="success" data-on="Yes" data-off="No"/>
            </div>
        </div>
    </div>

    <div class="row top-buffer-20" data-bind="visible: fields().length> 0">
        <div class="col-md-12">
            <h4 class="page-header">
                Additional Fields
            </h4>
            <!-- ko foreach: fields -->

            <div class="form-group-lg" data-bind="validationElement: fieldValue">
                <label class="control-label" data-bind="text: fieldName"></label>
                <span data-bind="visible: isRequired">*</span>
                <input type="text" data-bind="value: fieldValue" class="form-control" />
            </div>

            <!-- /ko -->
        </div>
    </div>

    <div class="row top-buffer-20" data-bind="visible: groups().length > 0">
        <div class="col-md-12">
            <h4 class="page-header">
                Group
            </h4>

            <div class="form-group-lg">
                <select class="form-control input-lg"
                        data-bind="options: groups, optionsText: 'groupName', value: selectedGroup, optionsCaption: 'Un-Assigned...', attr : {'data-guestName' : guestFullName}"></select>
            </div>
        </div>
    </div>

    <div class="row top-buffer-20">
        <div class="col-xs-12">
            <div id="serverValidation" style="display: none">
                <div class="alert alert-danger"></div>
            </div>
        </div>
        <div class="col-sm-offset-10 col-sm-2">
            <button class="btn btn-block btn-success" data-bind="click: save" data-loading-text="Please Wait...">
                Submit <i class="fa fa-save"></i>
            </button>
        </div>
    </div>

    <div class="row top-buffer-20">
        <div class="col-md-12">
            <h4 class="page-header">
                Ticket Information
            </h4>

            <div class="bs-callout bs-callout-info">
                <h4>Ticket Name</h4>
                <p>@Model.TicketName</p>
            </div>

            <div class="bs-callout bs-callout-info">
                <h4>Price</h4>
                <p>@Model.TicketPrice.ToString("C")</p>
            </div>

            <div class="bs-callout bs-callout-info">
                <h4>Purchase Date</h4>
                <p>@Model.TicketPurchaseDate.ToLongDateString()</p>
            </div>

        </div>
    </div>

</div>
