@using Paramount
@model EventGuestListDownloadViewModel

@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TicketPrint</title>
    <link rel="stylesheet" href="@Url.ContentAbsolute("~/Content/bootstrap-3.3.0.min.css")" media="all" />
    <link rel="stylesheet" href="@Url.ContentAbsolute("~/Content/font-awesome-4.4.0.css")" media="all" />
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    @Model.EventName
                </h1>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Guest Name</th>
                            <th>Guest Email</th>
                            <th>Ticket Type</th>
                            <th>Ticket Number</th>
                            <th>Barcode</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var g in Model.Guests)
                        {
                            <tr>
                                <td>@g.GuestFullName</td>
                                <td>@g.GuestEmail</td>
                                <td>@g.TicketName</td>
                                <td>@g.TicketNumber</td>
                                <td><img src="@Url.ActionAbsolute("Barcode", "Image", new {data = g.BarcodeData})" /></td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</body>

</html>
