@using Paramount
@model EventDashboardViewModel

@{
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
    ViewBag.Title = "Event Dashboard";
}

@section Scripts{
    <script>
        $(function() {
            var eventDashboardViewModel = @Html.Raw(Model.ToJsonString());
            $paramount.ui.eventDashboard.init(eventDashboardViewModel);
        });
    </script>
}

<div class="event-dashboard container top-buffer-60">

    <h2 class="page-header">
        @Model.EventName <span> - Event Dashboard</span>
    </h2>

    <div class="row statistics">
        <div class="col-sm-6 col-md-3">
            <div class="stat">
                <i class="fa fa-bar-chart fa-4x pull-left"></i>
                <small>
                    Total Ticket Sales
                </small>
                <h4>
                    <span data-bind="text: totalSoldAmountFormatted"></span>
                </h4>
            </div>
        </div>


        <div class="col-sm-6 col-md-3">
            <div class="stat">
                <i class="fa fa-user fa-4x pull-left"></i>
                <small>
                    Guest Count
                </small>
                <h4><span id="totalSoldQty" data-bind="text: totalSoldQty"></span></h4>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">

            <div class="stat">
                <i class="fa fa-ticket fa-4x pull-left"></i>
                <small>
                    Sold / Remaining
                </small>
                <h4>
                    <span data-bind="text: totalSoldQty"></span> /
                    <span data-bind="text: totalRemainingQty"></span>
                </h4>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="stat">
                <i class="fa fa-eye fa-4x pull-left"></i>
                <small>
                    Page Views
                </small>
                <h4><span data-bind="text: pageViews"></span></h4>
            </div>
        </div>

    </div>


    @*Action Items*@
    <div class="row">

        @*View Event*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    <i class="fa fa-eye"></i> View
                </h3>
                <p class="action-info">Visit the event page available to your guests.</p>
                <div class="action-btn">
                    <a href="@Model.EventUrl" class="btn btn-primary js-load">
                        View Event
                    </a>
                </div>
            </div>
        </div>
        @*Withdraw payment*@
        <div class="col-xs-12" data-bind="visible: showWithdrawPayment">
            <div class="action-item clearfix">
                <h3>
                    <i class="fa fa-university"></i> Withdraw @Model.EventOrganiserOwedAmount.GetValueOrDefault().ToString("C")
                </h3>
                <p class="action-info">
                    = Total ticket sales of @Model.TotalSoldAmount.GetValueOrDefault().ToString("C")
                    <span data-bind="if: organiserAbsorbsTransactionFee">with our fee of @Model.TotalTicketFees.</span>

                    <a href="@Url.EventPricing()" target="_blank">
                        <i class="fa fa-info-circle"></i> Click here for more info.
                    </a>
                </p>

                <div class="action-btn">
                    <a class="btn btn-primary" href="@Url.EventPaymentRequest(Model.AdId, Model.EventId)"
                       data-bind="visible: showPayMeButton">
                        Pay Me <i class="fa fa-arrow-right"></i> <i class="fa fa-user"></i>
                    </a>
                    <span class="label label-success" data-bind="text: requestPaymentStatus, visible: showPaymentStatusLabel"></span>
                </div>
            </div>
        </div>

        @*Edit ad details*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3> <i class="fa fa-edit"></i> Event Details</h3>
                <p class="action-info">
                    Some details may be modified if your event has been published or
                    tickets have been purchased.
                </p>
                <div class="action-btn">
                    <a href="@Url.EditEventDetails(Model.AdId)" id="edit-event-details" class="btn btn-primary js-load">
                        Edit Details
                    </a>
                </div>
            </div>
        </div>

        @*Ticketing*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    <i class="fa fa-ticket"></i> Ticketing
                </h3>
                <p class="action-info">Add or change your ticket structure here. See what people are buying and what is remaining.</p>
                <div class="action-btn">
                    <a href="@Url.EventTicketManagement(Model.AdId, Model.EventId)" id="lnkManageTickets" class="btn btn-primary js-load">
                        Manage Tickets
                    </a>
                </div>
            </div>
        </div>

        @*Groups*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    <i class="fa fa-group"></i> Groups
                </h3>
                <p class="action-info">Do you have tables at your event or any other way of grouping guests? Then grouping feature is your answer.</p>
                <div class="action-btn">
                    <a id="lnkManageGroups" class="btn btn-primary js-load" href="@Url.ManageGroups(Model.AdId, Model.EventId)">
                        Manage Groups
                    </a>
                </div>
            </div>
        </div>

        @*Guests*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    <i class="fa fa-user"></i> Guests (@Model.Guests.Count)
                </h3>
                <p class="action-info">See who's coming, edit their details or transfer tickets.</p>
                <div class="action-btn">
                    <a id="lnkManageGuests" class="btn btn-primary js-load" href="@Url.ManageGuests(Model.AdId, Model.EventId)">
                        Manage Guests   
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    <i class="fa fa-bolt"></i> Organisers
                </h3>
                <p class="action-info">
                    Add / Remove other users that can manage your event.
                </p>
                <div class="action-btn">
                    <a id="lnkManageOrganisers" class="btn btn-primary js-load" href="@Url.ManageEventOrganisers(Model.EventId)">
                        Manage Organisers
                    </a>
                </div>

            </div>
        </div>

        @*Notifications*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    <i class="fa fa-envelope-o"></i> Notifications
                </h3>
                <p class="action-info">
                    Manage your automatic email notifications for this event.
                </p>
                <div class="action-btn">
                    <a id="lnkManageNotifications" class="btn btn-primary js-load" href="@Url.EventNotifications(Model.EventId)">
                        Manage Notifications
                    </a>
                </div>
            </div>
        </div>


        @*Enquiries*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    <i class="fa fa-question-circle-o"></i> Enquiries (@Model.EnquiryCount) 
                </h3>
                <p class="action-info">
                    When visitors see your listing, and need help they will send an online enquiry.
                </p>
                <div class="action-btn">
                    <a id="lnkEnquiries" class="btn btn-primary js-load" href="@Url.ManageEnquiries(Model.AdId)">
                        Manage Enquiries
                    </a>
                </div>
            </div>
        </div>

        @*Promo Codes*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    <i class="fa fa-book"></i> Promo Codes
                </h3>
                <p class="action-info">Track your promoter success and provide discounts for your event.</p>
                <div class="action-btn">
                    <a id="lnkManagePromos" class="btn btn-primary js-load" href="@Url.ManagePromoCodes(Model.EventId)">
                        Manage Promos
                    </a>
                </div>
            </div>
        </div>

        @*Account Confirmation*@
        <div class="col-xs-12" data-bind="visible: requiresEventOrganiserConfirmation">
            <div class="alert alert-danger">
                <strong>Account Confirmation Required.</strong> To meet our security standards, as an event organiser, you must confirm your identity.
                <a class="btn btn-sm btn-primary js-load" href="@Url.ConfirmEventOrganiser()">Continue</a>
            </div>
        </div>

        @*Survey Results*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    <i class="fa fa-clipboard"></i> Survey Results
                </h3>
                <p>Your guests will be asked how they heard about the event if you provide options here.</p>
            </div>
            <div class="row">

                <div class="col-xs-12 col-sm-offset-4 col-sm-4 text-center" data-bind="if: surveyStatChartData() !== null && surveyStatChartData().totalCount > 0">
                    <canvas data-bind="chart: 'pie', data: surveyStatChartData"></canvas>
                </div>

                <div class="col-xs-12" data-bind="if: surveyStatChartData() === null || surveyStatChartData().totalCount <= 0">
                    <p>Current options:</p>
                    <ul data-bind="foreach: surveyStatChartData().labels">
                        <li data-bind="text: $data"></li>
                    </ul>

                    <div class="alert alert-info">
                        Once we have some data, we'll display a nice graph for you.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <label class="control-label">
                        Add new survey option:
                    </label>
                    <div class="input-group">
                        <input data-bind="value: newSurveyOption" type="text" class="form-control" placeholder="e.g. Facebook" />
                        <div class="input-group-btn">
                            <button data-bind="click: addSurveyOption" class="btn btn-default">Add Option</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Close Event*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    <i class="fa fa-ban"></i> Close Event
                </h3>
                <p class="action-info">Prevents people booking more tickets and payment can be requested.</p>
                <div class="action-btn">
                    <button class="btn btn-warning" data-bind="visible: !isClosed()" data-toggle="modal" data-target="#closeEventDialog">Close Event</button>
                    <span class="label label-warning" data-bind="visible: isClosed">Closed</span>
                </div>
            </div>
        </div>


        @*Delete Event*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    <i class="fa fa-remove"></i> Delete Event
                </h3>
                <p class="action-info">
                    <strong>Warning:</strong>
                    Removes the event listing completely from the site.
                    You will no longer be able to view or manage.
                </p>
                <div class="action-btn">
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteDialog">Delete Event</button>
                </div>
            </div>
        </div>
    </div>

</div>

@*Close event modal confirmation*@

@section Modals
{
    <div id="closeEventDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <strong><i class="fa fa-warning"></i> Danger: </strong>
                        This will prevent any more tickets purchased for this event and if any payment is owing can be requested.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary js-load" data-bind="click: closeEvent">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <strong><i class="fa fa-warning"></i> Danger: </strong>
                        This will completely remove the event from this website.
                        To recover, you will need to contact our support team.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary js-load" data-bind="click: deleteEvent">Yes, delete event!</button>
                </div>
            </div>
        </div>
    </div>
}
