@model EventEditViewModel

@{
    Layout = "~/Views/Shared/_ApplicationLayoutWithSearch.cshtml";
    ViewBag.Title = "Manage my Ads";
}

@section Scripts{

}

<div class="event-ticket-management">
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("_UserMenu")
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">
                <i class="fa fa-ticket"></i>&nbsp;Ticketing
            </h2>

            @foreach (var t in Model.Tickets)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">@t.TicketName &nbsp; @t.Price.ToString("C")</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 text-center">
                                <h4>Available Qty</h4>
                                <span class="badge">@t.AvailableQuantity</span>
                            </div>
                            <div class="col-xs-6 text-center">
                                <h4>Remaining Qty</h4>
                                <span class="badge">@t.RemainingQuantity</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        
                    </div>
                </div>
            }

            <div>
                <button class="btn btn-primary">Add Ticket Type</button>
            </div>

        </div>
    </div>
</div>