@using Paramount
@model EventDashboardViewModel

@{
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
    ViewBag.Title = "Event Dashboard";
}

@section Scripts{
    <script>
        $(function() {
            var eventDashboardViewModel = @Html.Raw(Model.ToJsonString());
            $paramount.ui.eventDashboard.init(eventDashboardViewModel);
        });
    </script>
}

<div class="event-dashboard container top-buffer-60">

    <h2 class="page-header">
        Event Dashboard
    </h2>

    <div class="row statistics">
        <div class="col-sm-6 col-md-3">
            <div class="stat">
                <i class="fa fa-bar-chart fa-4x pull-left"></i>
                <small>
                    Total Ticket Sales
                </small>
                <h4>
                    <span data-bind="text: totalSoldAmountFormatted"></span>
                </h4>
            </div>
        </div>


        <div class="col-sm-6 col-md-3">
            <div class="stat">
                <i class="fa fa-user fa-4x pull-left"></i>
                <small>
                    Guest Count
                </small>
                <h4><span data-bind="text: totalSoldQty"></span></h4>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">

            <div class="stat">
                <canvas id="ticketSalesChart"></canvas>

                <small>
                    Sold / Remaining
                </small>
                <h4>
                    <span data-bind="text: totalSoldQty"></span> /
                    <span data-bind="text: totalRemainingQty"></span>
                </h4>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="stat">
                <i class="fa fa-eye fa-4x pull-left"></i>
                <small>
                    Page Views
                </small>
                <h4><span data-bind="text: pageViews"></span></h4>
            </div>
        </div>

    </div>

    @*Action Items*@
    <div class="row">

        <div class="col-xs-12" data-bind="visible: showWithdrawPayment">
            <div class="action-item clearfix">
                <h3>
                    Withdraw @Model.EventOrganiserOwedAmount.GetValueOrDefault().ToString("C")
                </h3>
                <p class="action-info">
                    = Total ticket sales of @Model.TotalSoldAmount.GetValueOrDefault().ToString("C")
                    <span data-bind="if: organiserAbsorbsTransactionFee">with our fee of @Model.TotalTicketFees.</span>

                    <a href="@Url.EventPricing()" target="_blank">
                        <i class="fa fa-info-circle"></i> Click here for more info.
                    </a>
                </p>
                <div class="action-btn">
                    <a class="btn btn-primary" href="@Url.EventPaymentRequest(Model.AdId, Model.EventId)"
                       data-bind="visible: showPayMeButton">
                        Pay Me <i class="fa fa-arrow-right"></i> <i class="fa fa-user"></i>
                    </a>
                    <span class="label label-success" data-bind="text: requestPaymentStatus, visible: showPaymentStatusLabel"></span>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>Event Details</h3>
                <p class="action-info">
                    Some details may not be modified if your event has been published or
                    tickets have been purchased.
                </p>
                <div class="action-btn">
                    <a href="@Url.EditEventDetails(Model.AdId)" class="btn btn-primary js-load">
                        Edit Details <i class="fa fa-edit"></i>
                    </a>
                </div>
            </div>
        </div>

        @*Ticketing*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    Ticketing
                </h3>
                <p class="action-info">Add or change your ticket structure here. See what people are buying and what is remaining.</p>
                <div class="action-btn">
                    <button class="btn btn-primary" data-bind="click: addTicketType">Add Ticket Type <i class="fa fa-ticket"></i></button>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12" id="ticketManagementBlock">
                    <div class="row" data-bind="foreach: tickets">
                        <div class="col-sm-12 col-md-6">
                            <div class="panel panel-default event-ticket-panel" data-bind="css : {'panel-danger' : soldOut }">
                                <div class="panel-heading">
                                    <div class="pull-left form-inline">
                                        <span data-bind="text: ticketName"></span>
                                        <span data-bind="text: priceFormatted"></span>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-default" data-bind="click: enableEdit, visible : editMode() === false"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-6 text-center">
                                            <h4>Tickets Sold</h4>
                                            <span class="badge" data-bind="text: soldQuantity"></span>
                                        </div>
                                        <div class="col-xs-6 text-center">
                                            <h4>Remaining Qty</h4>
                                            <span class="badge" data-bind="text: remainingQuantity"></span>
                                        </div>
                                    </div>
                                    <div class="row" data-bind="visible: editMode">
                                        <div class="col-md-12">
                                            <div class="form-group" data-bind="validationElement: ticketName">
                                                <label class="control-label">Name</label>
                                                <input class="form-control" type="text" data-bind="value: ticketName" />
                                            </div>
                                            <div class="form-group" data-bind="validationElement: price">
                                                <label class="control-label">Price</label>
                                                <input class="form-control" type="number" data-bind="value: price" />
                                            </div>
                                            <div class="form-group" data-bind="validationElement: remainingQuantity">
                                                <label class="control-label">Quantity</label>
                                                <input class="form-control" type="number" data-bind="value: remainingQuantity" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer" data-bind="visible: editMode">
                                    <div class="pull-right">
                                        <button class="btn btn-success" data-bind="click: saveTicketDetails, css : { 'disabled' : validator.isValid() === false }" data-loading-text="Saving..."><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        @*Guest List*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    Guest List
                </h3>
                <p class="action-info">Check out who is coming to the event...</p>
                <div class="action-btn">
                    <a href="@Url.DownloadGuestListPdf(Model.AdId, Model.EventId)" class="btn btn-default">
                        Download PDF <i class="fa fa-download"></i>
                    </a>
                    <a id="lnkAddGuest" class="btn btn-primary js-load" href="@Url.AddEventGuest(Model.AdId, Model.EventId)">
                        Add Guest <i class="fa fa-user-plus"></i>
                    </a>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" data-bind="visible: hasGuests">
                            <label>Search:</label>
                            <input type="text" data-bind="value: guestListFilter, valueUpdate: 'keyup'" class="form-control" placeholder="e.g. Lisa " />
                        </div>

                        <ul class="list-group guest-list" data-bind="foreach: guestsFilterd">
                            <li class="list-group-item">
                                <ul class="list-unstyled">
                                    <li>
                                        <i class="fa fa-user"></i>&nbsp;
                                        <span data-bind="text: guestFullName"></span>
                                        &lt;<span data-bind="text: guestEmail"></span>&gt;
                                    </li>
                                </ul>
                                <ul class="list-unstyled guest-fields" data-bind="foreach: dynamicFields">
                                    <li>
                                        <span data-bind="text: fieldName"></span> : <span data-bind="text: fieldValue"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>

        @*Groups*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    Manage Groups
                </h3>
                <p class="action-info">Do you have tables at your event or any other way of grouping guests? Then grouping feature is your answer.</p>
                <div class="action-btn">
                    <a id="lnkManageGroups" class="btn btn-primary js-load" href="@Url.ManageGroups(Model.AdId, Model.EventId)">
                        Groups <i class="fa fa-group"></i>
                    </a>
                </div>
            </div>
        </div>

        @*Close Event*@
        <div class="col-xs-12">
            <div class="action-item clearfix">
                <h3>
                    Close Event
                </h3>
                <p class="action-info">Prevents people booking more tickets and payment can be requested.</p>
                <div class="action-btn">
                    <button class="btn btn-primary" data-bind="visible: !isClosed()" data-toggle="modal" data-target="#closeEventDialog">Close <i class="fa fa-ban"></i></button>
                    <span class="label label-warning" data-bind="visible: isClosed">Closed</span>
                </div>
            </div>
        </div>
    </div>




    <div id="closeEventDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <strong><i class="fa fa-warning"></i> Danger: </strong>
                        This will prevent any more tickets purchased for this event and if any payment is owing can be requested.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary js-load" data-bind="click: closeEvent">Confirm</button>
                </div>
            </div>
        </div>
    </div>

</div>

@*Close event modal confirmation*@
