@model EventPaymentSummaryViewModel

@{
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
    ViewBag.Title = "Event Payment Request";
}

@section scripts
{
    <script>
        var viewModel = @Html.Raw(Model.ToJsonString());
        $paramount.ui.eventPaymentRequest.init(viewModel);
    </script>
}

<div class="event-payment-request container top-buffer-60">
   
    <h2 class="page-header">
        Withdraw Funds
    </h2>

    <div class="well">
        <div class="row">
            <div class="col-xs-6"><h5>Total Ticket Sales:</h5></div>
            <div class="col-xs-6 text-right"><h5>@Model.TotalTicketSalesAmount.ToString("C")</h5></div>
        </div>
        <div class="row">
            <div class="col-xs-6"><h5>Our Fees:</h5></div>
            <div class="col-xs-6 text-right"><h5>@Model.OurFeesPercentage %</h5></div>
        </div>
        <div class="row">
            <div class="col-xs-6"><h4>Amount Owed:</h4></div>
            <div class="col-xs-6 text-right"><h4>@Model.AmountOwed.ToString("C")</h4></div>
        </div>

        <div class="row top-buffer-40">
            <div class="col-xs-6 col-sm-3">
                <button class="btn btn-block btn-default"
                        data-bind="click: selectPayPal, css : {'btn-success' : isPayPalSelected}">
                    <i class="fa fa-paypal"></i> Pay Pal
                </button>
            </div>
            <div class="col-xs-6 col-sm-3">
                <button class="btn btn-block btn-default" 
                        data-bind="click: selectDirectDebit, css : {'btn-success' : isDirectDebitSelected}"> <i class="fa fa-bank"></i> Direct Debit </button>
            </div>
        </div>

        <div class="row top-buffer-20">

            <div class="col-xs-12" data-bind="visible: isPayPalSelected">

                <div class="alert alert-info" data-bind="visible: !isPayPalConfigured()">
                    It appears you don't have a PayPal email configured.
                    Go to <a href="@Url.Action("Details", "Account")">my account</a> to update this setting first.
                </div>
                <div class="alert alert-success" data-bind="visible: isPayPalConfigured">
                    We will deposit the payment of @Model.AmountOwed.ToString("C") to @Model.PayPalEmail
                </div>

            </div>

            <div class="col-xs-12" data-bind="visible: isDirectDebitSelected">
                <div class="alert alert-info" data-bind="visible: !isDirectDebitConfigured()">
                    It appears you don't have Bank Details configured.
                    Go to <a href="@Url.Action("Details", "Account")">my account</a> to update this setting first.
                </div>
                <div class="alert alert-success" data-bind="visible: isDirectDebitConfigured">
                    We will deposit the payment of @Model.AmountOwed.ToString("C") to your bank:
                    <br />
                    Account Name: @Model.DirectDebitDetails.AccountName <br />
                    BSB: @Model.DirectDebitDetails.BSB <br />
                    Account Number: @Model.DirectDebitDetails.AccountNumber
                </div>
            </div>

            <div class="col-xs-12 text-right">
                <button class="btn btn-primary" data-bind="click: submitPaymentRequest, visible: canSubmitPaymentRequest" data-loading-text="Please Wait...">Submit</button>
            </div>
        </div>
    </div>



</div>