@model ManageTicketsViewModel

@{
    ViewBag.Title = "Manage ticketing for Event";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}


@section Scripts
{
    <script>
        $(function() {
            var data = @Html.Raw(Model.ToJsonString());
            var vm = new $paramount.models.ManageTickets(data);
            var rootNode = document.getElementById('manageTickets');
            ko.applyBindings(vm, rootNode);
        });
    </script>
}

<div class="container event-ticketing" id="manageTickets">
    <div class="row top-buffer-60">
        <div class="col-xs-12">
            <h2 class="page-header">Event Ticketing</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-offset-6 col-md-3">
            <button id="btnCreateTicket" class="btn btn-primary btn-block" data-bind="click: startNewTicket">
                <i class="fa fa-plus-circle"></i> Add Ticket
            </button>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="@Url.EventDashboard(Model.Id)" class="btn btn-default btn-block js-load">
                <i class="fa fa-arrow-circle-left"></i>
                <span class="hidden-sm">Event</span>
                Dashboard
            </a>
        </div>

    </div>
    
    <div class="row bounceIn top-buffer-20" data-bind="visible: isCreateRepositoryEnabled">
        <div class="col-md-offset-2 col-md-8 well" id="createTicketForm">
            <ticket-editor data-bind="visible: isCreateRepositoryEnabled" params="{adId: @Model.Id, eventId: @Model.EventId, onSave : ticketSaved}"></ticket-editor>
        </div>
    </div>

    <div class="top-buffer-20">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tickets" aria-controls="tickets" role="tab" data-toggle="tab">
                    <i class="fa fa-ticket"></i> Tickets
                </a>
            </li>
            <li role="presentation">
                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                    <i class="fa fa-cog"></i>
                    Settings
                </a>
            </li>

        </ul>


        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active in" id="tickets">

                <div class="top-buffer-20">
                    @*All Tickets*@
                    <div class="row" data-bind="visible: tickets().length > 0">
                        <div class="col-xs-12">
                            <h3>Tickets</h3>
                        </div>
                        @*List of current Tickets*@
                        <!-- ko foreach: tickets -->
                        <div class="col-xs-12 top-buffer-20">
                            <div class="panel event-ticket-panel" data-bind="attr: {'data-ticketName': ticketName}, css : {'panel-danger' : soldOut, 'panel-default' : isActive() === false, 'panel-primary' : isActive }">
                                <div class="panel-heading">
                                    <h4>
                                        <i class="fa fa-ticket"></i>
                                        <span data-bind="visible: isActive() === false">*NOT ACTIVE - </span>
                                        <span data-bind="text: ticketName"></span>
                                        <span data-bind="text: priceFormatted"></span>
                                       
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-6 text-center">
                                            <h4>Tickets Sold</h4>
                                            <span class="badge" data-bind="text: soldQuantity"></span>
                                        </div>
                                        <div class="col-xs-6 text-center">
                                            <h4>Remaining Qty</h4>
                                            <span class="badge" data-bind="text: remainingQuantity"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-footer text-right">
                                    <a class="btn btn-primary js-load" data-bind="attr : {href : editTicketUrl, 'data-ticketId': eventTicketId}">Edit</a>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="settings">
                <div class="top-buffer-20">
                    @*Settings*@
                    <div class="row top-buffer-20" data-bind="with: ticketSettings">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-cog"></i> Settings
                                </div>

                                <div class="panel-body">

                                    <div>
                                        <h3>Ticket Availability</h3>
                                        <availability-options params="startDate: openingDate, endDate: closingDate, startDateLabel: 'Opening Date', endDateLabel: 'Closing Date' "></availability-options>
                                        <p class="help-block">Note: All dates are local to the event's location.</p>
                                    </div>

                                    <hr />
                                    <div>
                                        <h3>Transaction Fee</h3>
                                        <p>
                                            Do you want the customer to pay the transaction fee?
                                        </p>
                                        <input type="checkbox" data-bind="toggle: includeTransactionFee"
                                               data-on="Yes"
                                               data-off="No" />

                                        <p class="help-block">
                                            Fees won't be displayed to the ticket purchasers until checkout. <a href="@Url.EventPricing()" target="_blank">Click here for more info</a>
                                        </p>
                                    </div>

                                    <div id="serverValidation" style="display: none">
                                        <div class="alert alert-danger"></div>
                                    </div>

                                </div>

                                <div class="panel-footer text-right">
                                    <button class="btn btn-primary" data-bind="click: updateTicketSettings" data-loading-text="Please wait...">
                                        Save <i class="fa fa-floppy-o"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        

    </div>
</div>