@model TicketingPricesExplainedViewModel

@{
    ViewBag.Title = "Event Pricing";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@section Main{
    <main class="mast-head help-pricing" id="content" role="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>
                        No Setup Fee. No hassles!
                    </h1>
                    <p>
                        <em> Free tickets? Free for everyone!</em>
                    </p>
                </div>
            </div>
        </div>
    </main>
}

<div class="container">
    <div class="row top-buffer-20">
        <div class="col-xs-12">
            <h1>Ticketing Fees Explained</h1>

            <p class="lead">
                Our ticketing fees are simple. For every ticket purchased online, there's a small transaction fee.
            </p>

            <div class="well well-lg text-center">
                <h3>@Model.EventTicketFeePercentage% + @Model.EventTicketFeeCents cents</h3>
            </div>


            <h2>
                Payment Options
            </h2>

            <p>
                When organising an event, the event owner will have the opportunity to set
                which entity will absorb the transaction fee.
            </p>

            <div class="row">
                <div class="col-md-6">
                    <div class="well well-info">
                        <p class="lead">
                            <h3><i class="fa fa-user"></i> Option 1: The Customer</h3>
                        </p>
                        <p>
                            The regular event setup is that the customer will pay the fee when they are checking out.
                            The fee is simply added to the ticket price. For example:

                            <div class="panel panel-default">
                                <div class="panel-body price-example">
                                    Ticket Price = @Model.Example1TicketPrice.ToString("C") <br />
                                    Fee = @Model.Example1Fee.ToString("C")<br />
                                    <strong>Customer pays total of @Model.Example1TotalTicketPrice.ToString("C")</strong><br/>
                                    <strong>Organiser receives @Model.Example1TicketPrice.ToString("C")</strong>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well well-info">
                        <p class="lead">
                            <h3><i class="fa fa-black-tie"></i> Option 2: Event Organiser</h3> 
                        </p>
                        <p>
                            To make it more worthwhile and attractive for the customers, the event organiser can opt to pay the
                            fees themselves. This is available on the dashboard once the event has been closed. 
                        </p>
                        <p>

                            <div class="panel panel-default">
                                <div class="panel-body price-example">
                                    Total Ticket Sales = @Model.ExampleTotalTicketSales.ToString("C") <br />
                                    Total Tickets Sold = @Model.ExampleTotalTicketQuantitySold<br />
                                    Total Fees = @Model.ExampleTotalFeeForOrganiser.ToString("C") = (10 x @Model.EventTicketFeeCents cents) + (@Model.ExampleTotalTicketSales x @Model.EventTicketFeePercentage%)<br />
                                    <strong>Organiser Receives = @Model.ExampleTotalAmountForOrganiser.ToString("C") </strong>
                                </div>
                            </div>
                        </p>
                    </div>

                </div>
            </div>


            <p>More examples:</p>
            <ul class="list-group">
                <li class="list-group-item"><strong>Transaction Fee</strong> = (Ticket Price x @Model.EventTicketFeePercentage%) + @Model.EventTicketFeeCents cents</li>
                <li class="list-group-item"><strong>$0.00</strong> = ($0.00 x @Model.EventTicketFeePercentage%) + @Model.EventTicketFeeCents cents</li>
                <li class="list-group-item"><strong>@Model.Example1Fee.ToString("C")</strong> = (@Model.Example1TicketPrice.ToString("C") x @Model.EventTicketFeePercentage%) + @Model.EventTicketFeeCents cents</li>
                <li class="list-group-item"><strong>@Model.Example2Fee.ToString("C")</strong> = (@Model.Example2TicketPrice.ToString("C") x @Model.EventTicketFeePercentage%) + @Model.EventTicketFeeCents cents</li>
                <li class="list-group-item"><strong>@Model.Example3Fee.ToString("C")</strong> = (@Model.Example3TicketPrice.ToString("C") x @Model.EventTicketFeePercentage%) + @Model.EventTicketFeeCents cents</li>
            </ul>



            <h2>Need more help?</h2>
            <p class="lead"><a href="@Url.Action("ContactUs", "Home")">Contact Us</a></p>
        </div>
    </div>
</div>