@using Paramount
@using Paramount.ApplicationBlock.Mvc.HtmlHelpers

@model EventViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_ApplicationLayoutWithSearch.cshtml";
}

<div class="event-details" id="eventView">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <div class='event-title @(Model.EventPhoto.IsNullOrEmpty() ? "full-width" : "")'>
                    <h1>@Model.Title</h1>
                    <p class="details">@Model.EventStartDate at @Model.EventStartTime. Location details below.</p>
                    <p>@Html.Raw(Model.Description)</p>
                    <p><a class="btn btn-lg btn-primary" href="#ticketing" role="button">Find Tickets</a></p>
                </div>
                @if (Model.EventPhoto.HasValue())
                {
                    <div class="event-photo">
                        <img src="@Url.Image(Model.EventPhoto, height: 290, width: 290)" class="thumbnail" />
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="location-details">
                <div class="row">
                    <div class="col-xs-6">
                        @Model.Location
                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right">
                            <a class="btn btn-default" href='http://maps.google.com/?q=@Model.LocationLatitude,@Model.LocationLongitude' target="_blank">
                                <i class="fa fa-map-marker"></i> Open in maps
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="google-map" data-latitude="@Model.LocationLatitude" data-longitude="@Model.LocationLongitude" data-address="@Model.Location"></div>
        </div>
    </div>

    <div class="row top-buffer-20">
        <div class="col-xs-12 col-md-6 ticketing" id="ticketing">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><i class="fa fa-ticket"></i> Available Tickets</h4>
                </div>
                <ul class="list-group">
                    @foreach (var t in Model.Tickets)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-4">
                                    <span class="ticket-info">@t.TicketName</span>
                                </div>
                                <div class="col-xs-2">
                                    <span class="ticket-info">
                                        @if (t.Price == 0)
                                        {
                                            <text>Free</text>
                                        }
                                        else
                                        {
                                            @t.Price.ToString("C")
                                        }
                                    </span>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-inline pull-right">
                                        <div class="form-group">
                                            <span class="ticket-info">Quantity</span>
                                            <select class="form-control">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>

                <div class="panel-footer clearfix">
                    <button class="btn btn-primary pull-right">
                        Book Now <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><i class="fa fa-phone"></i> Organiser Details</h4>
                </div>

                <table class="table table-striped">
                    @Html.AdContactDetail(m => m.OrganiserName, "user")
                    @Html.AdContactDetail(m => m.OrganiserPhone, "phone")
                    @Html.AdContactDetail(m => m.Views, "eye-open")
                    @Html.AdContactDetail(m => m.Posted, fontIcon: "calendar-check-o")
                </table>

            </div>
        </div>

        @*Contact*@
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><i class="fa fa-user"></i> Contact for Info</h4>
                </div>
                <div class="panel-body">
                    <p>
                        Need more information? Leave a message for the user and they will
                        be notified immediately
                    </p>
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input class="form-control input-lg" type="text" placeholder="Your Name"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input class="form-control input-lg" type="text" placeholder="Your email" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Question</label>
                        <input class="form-control input-lg" type="text" placeholder="Your email" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

    <script>
        $(function () {
            var $map = $('.google-map');
            var data = $map.data();
            var mapCanvas = $map.get(0);
            function initialize() {
                var latLng = new google.maps.LatLng(data.latitude, data.longitude);
                var mapOptions = {
                    center: latLng,
                    zoom: 16,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    scrollwheel: false
                };
                var map = new google.maps.Map(mapCanvas, mapOptions);

                var marker = new google.maps.Marker({
                    position: latLng,
                    title: data.address,
                    visible: true
                });
                marker.setMap(map);
            }
            initialize();
        });
    </script>
}