@model InvoiceView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Invoice Details</title>
    @Styles.Render("~/css/base")
</head>
<body>
    <div class="container-fluid">

        @if (Model == null)
        {
            <div class="alert alert-danger">We are not able to generate an invoice for the selected booking. Please contact our friendly staff for more information.</div>
        }
        else
        {
            <div class="row">
                <div class="col-xs-6">
                    <h2>@Model.BusinessName</h2>
                </div>
                <div class="col-xs-6">
                    <h4 class="pull-right">Invoice Date : @Model.CreatedDate.ToString("dd-MMM-yyyy")</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Inv Number : @Model.BookingReference</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                @Model.BusinessName <br />
                                A: @Model.BusinessAddress <br>
                                P: @Model.BusinessPhone <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>To : @Model.RecipientName</h4>
                        </div>
                        <div class="panel-body">
                            @Model.RecipientAddress <br />
                            @Model.RecipientPhoneNumber <br />

                            Status : Paid
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        @foreach (var group in @Model.InvoiceGroups)
                        {
                            <tr>
                                <td colspan="4">
                                    <strong>@group.Name</strong>
                                </td>
                            </tr>
                            foreach (var item in group.InvoiceLineItems)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Price.ToString("C")</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.ItemTotal.ToString("C")</td>
                                </tr>
                            }
                        }
                    </table>
                    <div class="pull-right">
                        <h2>Total (paid): @Model.Total.ToString("C")</h2>
                    </div><div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="alert alert-info">
                        Note: All prices are tax inclusive.
                    </div>
                    <div class="alert alert-success">
                        PayPal transaction number : <strong>@Model.PaymentReference</strong>
                    </div>
                </div>
            </div>
        }


    </div>
</body>
</html>