@using Paramount
@model Paramount.Betterclassifieds.Presentation.ViewModels.Booking.Step2View

@{
    ViewBag.Title = "Classifieds - Place new Ad";
    Layout = @Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
}

<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">Step 2</a></li>
        <li><a href="#">3</a></li>
    </ul>

    <form role="form" id="adDesignForm" action="@Url.Action("Step2", "Booking")" method="POST">
        @Html.AntiForgeryToken()

        <div class="row top-buffer-20">
            <div class="col-xs-12">

                <div class="bs-callout bs-callout-info">
                    <h4>Online Ad Details</h4>
                    <p>Ok. You might want to entice the readers with an impact heading.</p>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.OnlineAdHeading)
                    @Html.BootstrapLargeTextBoxFor(m => m.OnlineAdHeading)
                    @Html.ValidationMessageFor(m => m.OnlineAdHeading)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.OnlineAdDescription)
                    @Html.BootstrapLargeTextAreaFor(m => m.OnlineAdDescription, 8, new Dictionary<string, object> { { "class", "markdown-editor" }, { "data-provide", "markdown-editable" } })
                    @Html.ValidationMessageFor(m => m.OnlineAdDescription)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.OnlineAdContactName)
                    @Html.BootstrapLargeTextBoxFor(m => m.OnlineAdContactName)
                    @Html.ValidationMessageFor(m => m.OnlineAdContactName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.OnlineAdEmail)
                    @Html.BootstrapLargeTextBoxFor(m => m.OnlineAdEmail)
                    @Html.ValidationMessageFor(m => m.OnlineAdEmail)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.OnlineAdPhone)
                    @Html.BootstrapLargeTextBoxFor(m => m.OnlineAdPhone)
                    @Html.ValidationMessageFor(m => m.OnlineAdPhone)
                </div>

            </div>
        </div>

        @if (Model.IsLineAdIncluded)
        {
            <div class="row top-buffer-10">
                <div class="col-xs-12">
                    <div class="bs-callout bs-callout-info">
                        <h4>Print Ad Details</h4>
                        <p>Coming soon</p>
                    </div>
                </div>
            </div>
        }

        @*Pager*@
        <ul class="pager">
            <li class="previous">
                <button id="btnPrev" class="btn btn-large btn-default js-load" data-nav='@Url.Action("Step1")'>&larr; Previous</button>
            </li>
            <li class="next">
                <button id="btnSubmit" type="submit" class="btn btn-large btn-default">Next &rarr;</button>
            </li>
        </ul>
    </form>
</div>

@section Scripts{
    Testing One two three

    <script>
        (function ($) {
            $('.markdown-editor').markdown({
                autofocus: false,
                savable: false
            });
        })(jQuery);
    </script>
}