@using Paramount.Betterclassifieds.Presentation.Framework
@model Step1View

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}


<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#">Step 1</a></li>
    <li class="disabled"><a href="#">2</a></li>
    <li class="disabled"><a href="#">3</a></li>
</ul>

@Html.Partial("_BookingInformationPanel")

@*Category selection*@
<div class="row">
    <div class="col-xs-12">
        <div class="bs-callout bs-callout-info">
            <h4>Category</h4>
            <p>Please select category and sub category appropriate for your ad.</p>
        </div>
    </div>

    <div class="col-xs-12" id="Categories">
        <div class="form-group">

            <select id="parentCategoryId" data-bind="value: categoryId" class="form-control input-lg">
                <option value="">-- Category --</option>
                @foreach (var category in Model.ParentCategoryOptions)
                {
                    <option value="@category.Value">@category.Text</option>
                }
            </select>

            <br />

            <select id="subCategoryId" name="subCategoryId" class="form-control input-lg"
                    data-bind="value: subCategoryId, visible: shouldShowSubCategory">
                <option>-- Sub Category --</option>
                @if (Model.SubCategoryOptions != null)
                {
                    foreach (var category in Model.SubCategoryOptions)
                    {
                        <option value="@category.Value">@category.Text</option>
                    }
                }
            </select>
        </div>
    </div>
</div>

@*Newspapers*@
@if (@Model.Publications.Any())
{

    <div class="row">
        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4>Publications</h4>
                <p>Simply click on the papers your like your ad to appear in.</p>
            </div>
        </div>

        <div class="col-xs-12 button-options">

            <div class="alert alert-warning" data-bind="visible: shouldShowPublications() === false">
                The category selected does not support print ads.
            </div>

            <div class="center-block" data-bind="foreach: publications, visible: shouldShowPublications">
                <button class="btn btn-default btn-block btn-lg"
                        data-bind="id: publicationId, text: title, css: {active : isSelected}, click : $parent.togglePublication"
                        data-toggle="button"></button>
            </div>
        </div>
    </div>
}

    @*Validation errors*@
    <div class="row top-buffer-10">
        <div class="col-xs-12">
            <div class="alert alert-danger" data-bind="visible: errorMsg() != '', text: errorMsg"></div>
        </div>
    </div>

    @*Pager*@
    <ul class="pager">
        <li class="next">
            <button id="btnSubmit" type="submit" class="btn btn-large btn-default" data-loading-text="Please wait...">
                Next <i class="glyphicon glyphicon-arrow-right"></i>
            </button>
        </li>
    </ul>


    @section Scripts{
        @Scripts.Render("~/bundle/paramount-booking")
        <script>

            (function($) {
                // jQuery ready
                $(function() {
                    var StepOne = function(stepData) {
                        var self = this;
                        self.categoryId = ko.observable(stepData.categoryId);
                        self.subCategoryId = ko.observable(stepData.subCategoryId);
                        self.publications = ko.observableArray(stepData.publications);
                        self.shouldShowSubCategory = ko.computed(function() {
                            return self.categoryId() !== "";
                        });
                        self.shouldShowPublications = ko.observable(!stepData.isOnlineOnly);
                        self.togglePublication = function(pub) {
                            if (!pub) {
                                return;
                            }

                            if (pub.isSelected === 'undefined') {
                                return;
                            }

                            pub.isSelected = !pub.isSelected;
                        };
                        self.errorMsg = ko.observable("");
                    };

                    var data = @Html.Raw(Model.ToJsonString());
                    var stepOneModel = new StepOne(data);

                    ko.applyBindings(stepOneModel);

                    $('#parentCategoryId').on('change', function() {
                        var me = $(this);
                        stepOneModel.subCategoryId = ko.observable(null); // clear
                        if (me.val() === '') {
                            return;
                        }
                        $('#subCategoryId').loadSubCategories('@Url.Action("GetCategories", "Categories")', me.val(), false);

                        $.post('@Url.Action("IsOnlineOnlyCategory", "Categories")', { id: me.val() }, function(response) {
                            stepOneModel.shouldShowPublications(!response.isOnlineOnly);
                        });
                    });

                    $('#btnSubmit').on('click', function() {
                        var $btn = $(this);
                        $btn.button('loading');
                        var modelToPost = ko.toJS(stepOneModel);
                        if (stepOneModel.shouldShowPublications() === false) {
                            $.each(modelToPost.publications, function(idx, p) {
                                p.isSelected = false;
                            });
                        }

                        // Validate
                        if (isNaN(stepOneModel.subCategoryId()) || stepOneModel.subCategoryId() === null) {
                            stepOneModel.errorMsg('You must select a sub category for your ad');
                            $(this).button('reset');
                            return;
                        }

                        $.ajax({
                            url: '@Url.Action("Step1")',
                            data: JSON.stringify(modelToPost),
                            contentType: 'application/json',
                            type: 'POST',
                            dataType: 'json',
                            success: function(respondUrl) {
                                window.location = respondUrl;
                            },
                            error: function(resp) {
                                stepOneModel.errorMsg(resp.statusText);
                                $btn.button('reset');
                            }
                        });
                    });
                });
            })(jQuery);
        </script>
    }