@using MongoDB.Bson
@using Paramount
@using Paramount.Betterclassifieds.Presentation.Framework
@model Paramount.Betterclassifieds.Presentation.ViewModels.Booking.Step1View

@{
    ViewBag.Title = "Classifieds - Place new Ad";
    Layout = @Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
}

<div class="container">

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">Step 1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
    </ul>

    @*Category selection*@
    <div class="row">
        <div class="col-xs-12">
            <div class="bs-callout bs-callout-info">
                <h4>Category</h4>
                <p>Please select category and sub category appropriate for your ad.</p>
            </div>
        </div>

        <div class="col-xs-12" id="Categories">
            <div class="form-group-lg">

                <select id="parentCategoryId" data-bind="value: categoryId" class="form-control input-lg">
                    <option value="">-- Category --</option>
                    @foreach (var category in Model.ParentCategoryOptions)
                    {
                        <option value="@category.Value">@category.Text</option>
                    }
                </select>

                <br />

                <select id="subCategoryId" name="subCategoryId" class="form-control input-lg"
                        data-bind="value: subCategoryId, visible: shouldShowSubCategory">
                    <option>-- Sub Category --</option>
                    @if (Model.SubCategoryOptions != null)
                    {
                        foreach (var category in Model.SubCategoryOptions)
                        {
                            <option value="@category.Value">@category.Text</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>

    @*Newspapers*@
    @if (@Model.Publications.Any())
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="bs-callout bs-callout-info">
                    <h4>Publications</h4>
                    <p>Simply click on the papers your like your ad to appear in.</p>
                </div>
            </div>

            <div class="col-xs-12 button-options">
                @foreach (var publication in Model.Publications)
                {
                    <div class="center-block">
                        <button class="btn btn-default btn-block btn-lg" id="@publication.PublicationId" data-toggle="button">
                            @publication.Title
                        </button>
                    </div>
                }
            </div>
        </div>
    }

    @*Pager*@
    <ul class="pager">
        <li class="next"><a id="submit" href="#submit">Next &rarr;</a></li>
    </ul>

</div>

@section Scripts{
    <script>

        var StepOne = function(data) {
            var self = this;
            self.categoryId = ko.observable(data.selectedCategoryId);
            self.subCategoryId = ko.observable(data.selectedSubCategoryId);
            self.publications = ko.observable(data.selectedPublications);
            self.shouldShowSubCategory = ko.computed(function() {
                return self.categoryId() !== "";
            });
        };

        var data = @Html.Raw(Model.ToJsonString());
        var stepOneModel = new StepOne(data);

        ko.applyBindings(stepOneModel);

        (function($) {

            $('#parentCategoryId').on('change', function() {
                var me = $(this);
                stepOneModel.subCategoryId = null;
                $('#subCategoryId').loadSubCategories('@Url.Action("GetCategories", "Categories")', me.val(), false);
            });

            $('#submit').on('click', function() {
                var modelToPost = ko.toJS(stepOneModel);
                debugger;
                $.post('@Url.Action("Step1")', modelToPost, function(response) {
                    window.location = response;
                });
            });
        })(jQuery);
    </script>
}