@using Paramount
@using Paramount.Betterclassifieds.Presentation.Framework
@model SuccessView

@{
    ViewBag.Title = "Booking Complete";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@section Scripts
{
    <script>
        var data = @Html.Raw(Model.UserNetworkNotifierView.ToJsonString());
        $paramount.ui.notifyNetworkAdUi.init(data);
    </script>
}

<div class="container top-buffer-60">

    <div class="jumbotron">
        <h1>
            <span class="glyphicon glyphicon-thumbs-up"></span> Booking Complete
        </h1>
        <p class="lead">
            Your booking has been placed successfully. Don't forget to let your friends know!
        </p>
        <p class="lead">
            <a href="@Model.AdUrl">
                @Model.AdUrl
            </a>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well" id="tellYourFriendsForm">
                <h2>Tell your friends</h2>

                <div id="userNetwork">

                    <div class="alert alert-success" data-bind="visible: notified">
                        <i class="fa fa-check"></i> Done! Your friends should receive an email shortly containing your ad details.
                    </div>

                    <div data-bind="visible: notified() === false">
                        <div class="row top-buffer-20">
                            <div class="col-xs-12">
                                <div class="alert alert-info" data-bind="visible: users().length === 0">
                                    It seems very empty at the moment :(
                                </div>

                                <div class="list-group" data-bind="foreach: users">
                                    <div class="list-group-item">
                                        <span data-bind="text: fullName" class="is-fullName"></span>
                                        &nbsp;
                                        <span data-bind="text: email" class="is-email"></span>
                                        <div class="pull-right">
                                            <input type="checkbox" data-bind="toggle: selected"
                                                   data-onstyle="success"
                                                   data-on="Send Email"
                                                   data-off="No Email" />
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 text-right">
                                <button class="btn btn-primary js-load" id="notifyFriends" data-bind="click: notifyFriends, visible: anyUserSelected">
                                    <i class="fa fa-mail-forward"></i> Notify Friends
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Add Friend</h3>
                            </div>
                            <div class="col-sm-6 form-group" data-bind="validationElement: newFriendName">
                                <label>Friend's Name</label>
                                <input type="text" class="form-control" id="contactName" data-bind="value: newFriendName" />
                            </div>
                            <div class="col-sm-6 form-group" data-bind="validationElement: newFriendEmail">
                                <label>Friend's Email</label>
                                <input type="email" class="form-control" id="contactEmail" data-bind="value: newFriendEmail" />
                            </div>

                            <div class="col-sm-12 text-right">
                                <button class="btn btn-success" data-bind="click: addFriend" id="addFriend">
                                    <i class="fa fa-plus-circle"></i> Add
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div id="tellYourFriendsDone" class="alert alert-success no-display">
                Done. Your friends will receive an email with your ad very shortly!
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <h2>Where do you want to go?</h2>
                <div class="list-group">
                    @if (Model.IsBookingActive)
                    {
                        <a href="@Url.AdUrl(Model.TitleSlug, Model.AdId, Model.CategoryAdType)" class="list-group-item">
                            <i class="glyphicon glyphicon-check"></i> Check out my ad
                        </a>
                    }
                    <a href="@Url.Action("Details", "EditAd", new {Id = Model.AdId})" class="list-group-item">
                        <i class="glyphicon glyphicon-pencil"></i> Edit Ad Details
                    </a>
                    <a href="@Url.Action("Booking", "Invoice", new {Id = Model.AdId})" target="_blank" class="list-group-item">
                        <i class="fa fa-file"></i> View Invoice
                    </a>
                    <a href="@Url.Action("Index", "Home")" class="list-group-item">
                        <i class="glyphicon glyphicon-home"></i> Home
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
