@using Paramount
@model Paramount.Betterclassifieds.Presentation.ViewModels.TutorAdView


<table class="table table-striped">
    <tbody>
        @if (Model.Objective.HasValue())
        {
            <tr>
                <td>@Html.LabelFor(m => m.Objective)</td>
                <td>@Html.DisplayFor(m => m.Objective)</td>
            </tr>
        }
        <tr>
            <td>@Html.LabelFor(m => m.AgeGroupDescription)</td>
            <td>@Html.DisplayFor(m => m.AgeGroupDescription)</td>
        </tr>
        @if (Model.ExpertiseLevel.HasValue())
        {
            <tr>
                <td>@Html.LabelFor(m => m.ExpertiseLevel)</td>
                <td>@Html.DisplayFor(m => m.ExpertiseLevel)</td>
            </tr>
        }
        @if (Model.PricingOption.HasValue())
        {
            <tr>
                <td>@Html.LabelFor(m => m.PricingOption)</td>
                <td>@Html.DisplayFor(m => m.PricingOption)</td>
            </tr>
        }
        @if (Model.Subjects.HasValue())
        {
            <tr>
                <td>@Html.LabelFor(m => m.Subjects)</td>
                <td>@foreach (var subj in Model.SubjectsAsArray)
                    {
                        <span class="label label-primary">@subj</span>
                    } </td>
            </tr>
        }
        @if (Model.TravelOption.HasValue())
        {
            <tr>
                <td>@Html.LabelFor(m => m.TravelOption)</td>
                <td>@Html.DisplayFor(m => m.TravelOption)</td>
            </tr>
        }
        @if (Model.WhatToBring.HasValue())
        {
            <tr>
                <td>@Html.LabelFor(m => m.WhatToBring)</td>
                <td>@Html.DisplayFor(m => m.WhatToBring)</td>
            </tr>
        }
    </tbody>
</table>