@using System.Monads
@using Paramount

@model HomeModel

@{
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
    ViewBag.Title = "Sri Lankan Events";

    var adCount = Model.With(m => m.AdSummaryList).Return(a => a.Count, 0);

}

@section Scripts
{
    <script>
        $(function () {
            $paramount.ui.home.init();
        });
    </script>
}

@section Main{
    <main class="mast-head" id="content" role="main">
        <div class="container">
            <div class="row search-container">
                <div class="col-md-8 col-md-offset-2">
                    <form action="@Url.Action("Find", "Listings")">
                        <div class="input-group input-group-lg">
                            <input type="text" name="keyword" id="keyword" class="form-control input-lg" placeholder="e.g. dinner dance ...">
                            <div class="input-group-btn input-group-lg">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>

                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>

            <div class="row top-buffer-40">
                <div class="col-md-3 col-md-offset-3 text-left">
                    <a class="btn btn-primary btn-block btn-lg" href="@Url.Booking(1)">
                        <i class="fa fa-pencil"></i>&nbsp; Organise an Event
                    </a>
                </div>
                <div class="col-md-3 text-right">
                    <a class="btn btn-primary btn-block btn-lg" href="@Url.Search()">
                        <i class="fa fa-binoculars"></i>&nbsp; Find an Event
                    </a>
                </div>
            </div>

        </div>
    </main>
}

@if (adCount > 0)
{
    <div class="home-featured">

        <div class="container">

            <div class="row">
                <div class="col-xs-6">
                    <h2>Featured Events</h2>
                </div>
            </div>

            <div class="row">

                @foreach (var ad in Model.AdSummaryList)
                {
                    if (ad.CategoryAdType.HasValue())
                    {
                        @Html.Partial("_AdTile_" + ad.CategoryAdType, ad)
                    }
                    else
                    {
                        @Html.Partial("_AdTile", ad)
                    }

                }
            </div>

        </div>
    </div>

}


<div class="container top-buffer-40">

    <div class="row categories-links">
        <div class="col-xs-12">
            <h2>Categories</h2>
        </div>
        <div data-bind="foreach: parentCategories">
            <div class="col-xs-12 col-sm-6 category">
                <a data-bind="attr : {href : $parent.searchLink($data)}">
                    <i data-bind="attr : {class : fontIcon}"></i> <span data-bind="text: title"></span>
                </a>
            </div>
        </div>
    </div>

</div>


<article>
    <div class="text-center">
        <h1>Why Sri Lankan Events?</h1>
        <p>
            Guaranteed the most competitive price in the ticketing market.
            <a href="@Url.EventPricing()">Learn More <i class="fa fa-arrow-right"></i></a>
        </p>
        <p>No hassles. Everything is online, no need to call anyone...</p>
        <p>It's for our people made by our people in Australia.</p>
    </div>
</article>

<section class="home-impact">
    <div class="container">
        <div class="row">

            <div class="col-md-6 text-center">
                <div class="item">
                    <h1>
                        <i class="fa fa-ticket fa-3x wow fadeInLeft"></i>
                    </h1>
                    <h3>Quick & Simple Ticketing</h3>
                    <p class="lead">
                        In just a few steps, you can have your event online
                        with flexible ticketing options.
                    </p>
                    <div>
                        <a class="btn btn-primary js-load" href="@Url.Booking()">Get Started <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <div class="item">
                    <h1>
                        <i class="fa fa-credit-card fa-3x wow fadeInRight"></i>
                    </h1>
                    <h3>Pricing</h3>
                    <p class="lead">
                        Our fees are very competitive. No charge for events with free tickets.
                    </p>
                    <div>
                        <a class="btn btn-primary js-load" href="@Url.EventPricing()">Our Pricing <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
