@using Paramount
@model EventGuestListDownloadViewModel

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TicketPrint</title>
    
    <link rel="stylesheet" href="@Url.ContentAbsolute("~/Content/bootstrap-3.3.6.min.css")" media="all" />
    <link rel="stylesheet" href="@Url.ContentAbsolute("~/Content/font-awesome-4.4.0.css")" media="all" />
    <style type="text/css">
        table {
            page-break-inside: auto;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    @Model.EventName
                </h1>

                <h3>Guest List</h3>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Guest</th>
                            <th>Ticket Type</th>
                            <th>Ticket Number</th>
                            <th>Group</th>
                            <th>Seat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var g in Model.Guests)
                        {
                            <tr>
                                <td>
                                    <ul class="list-unstyled">
                                        <li>
                                            @g.GuestFullName
                                            &lt;<span>@g.GuestEmail</span>&gt;
                                        </li>

                                        @foreach (var f in g.DynamicFields)
                                        {

                                            <li>
                                                @f.FieldName : @f.FieldValue
                                            </li>

                                        }

                                    </ul>
                                </td>
                                <td>@g.TicketName</td>
                                <td>@g.TicketNumber</td>
                                <td>@g.GroupName</td>
                                <td>@g.SeatNumber</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</body>

</html>
