@using Paramount
@model List<EventTicketPrintViewModel>

    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>TicketPrint</title>
        <link rel="stylesheet" href="@Url.ContentAbsolute("~/Content/bootstrap-3.3.6.min.css")" media="all" />
        <link rel="stylesheet" href="@Url.ContentAbsolute("~/Content/event-ticket-print.min.css")" media="all" />
        <link rel="stylesheet" href="@Url.ContentAbsolute("~/Content/font-awesome-4.6.1.css")" media="all" />
    </head>
    <body>

        @foreach (var tick in Model)
        {
            <div class="ticket-container">
                <div class="ticket">

                    @{
                        var ticketNameClass = string.Empty;
                        var eventNameLength = tick.EventName.Length;
                        if (eventNameLength > 55)
                        {
                            ticketNameClass = "smaller";
                        }
                    }

                    <div class="event-info">
                        

                        <div class="event-title">
                            <h3 class="@ticketNameClass">
                                @tick.EventName
                            </h3>
                        </div>

                        <div class="event-details container-fluid">
                            <div class="row">

                                <div class="col-xs-12">
                                    <table class="table table-striped">
                                        <tr>
                                            <td>
                                                <i class="fa fa-ticket"></i>
                                            </td>
                                            <td>
                                                Ticket Type:
                                            </td>
                                            <td>
                                                @tick.TickTypeAndPrice
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-clock-o"></i></td>
                                            <td>When:</td>
                                            <td>@tick.StartDateTime</td>
                                        </tr>
                                        @if (tick.GroupName.HasValue())
                                        {
                                            <tr>
                                                <td><i class="fa fa-list-ol"></i></td>
                                                <td>Group:</td>
                                                <td>@tick.GroupName</td>
                                            </tr>
                                        }

                                        @if (tick.SeatNumber.HasValue())
                                        {
                                            <tr>
                                                <td><i class="fa fa-list-ol"></i></td>
                                                <td>Seat No:</td>
                                                <td>@tick.SeatNumber</td>
                                            </tr>
                                        }

                                        <tr>
                                            <td><i class="fa fa-map-marker"></i></td>
                                            <td>Location:</td>
                                            <td>@tick.Location</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-user"></i></td>
                                            <td>Guest:</td>
                                            <td>@tick.GuestFullName &lt;@tick.GuestEmail&gt; </td>
                                        </tr>
                                    </table>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-xs-12 text-center">

                                    <img src="@Url.Image(tick.BarcodeImageDocumentId, height: 200, width: 200).WithFullUrl()" alt="barcode"/>

                                </div>
                                <hr/>

                            </div>

                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    Produced by @tick.BrandName
                                    <span class="brand-text">
                                        @@ @tick.BrandUrl
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="ticket-img">
                            <img class="img-responsive" src="@Url.ContentForBrand("/img/ticket.jpg")" />
                        </div>

                    </div>

                </div>
            </div>
                        } @*end of for each ticket*@



                    </body>

                </html>
