@using Paramount
@model List<EventTicketPrintViewModel>

    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>TicketPrint</title>
        <link rel="stylesheet" href="@Url.ContentAbsolute("~/Content/bootstrap-3.3.6.min.css")" media="all" />
        <link rel="stylesheet" href="@Url.ContentAbsolute("~/Content/event-ticket-print.min.css")" media="all" />
        <link rel="stylesheet" href="@Url.ContentAbsolute("~/Content/font-awesome-4.6.1.css")" media="all" />
    </head>
    <body>

        @foreach (var tick in Model)
        {
            <div class="ticket-container">
                <div class="ticket">

                    @{
                        var ticketNameClass = string.Empty;
                        var eventNameLength = tick.EventName.Length;
                        if (eventNameLength > 55)
                        {
                            ticketNameClass = "smaller";
                        }
                    }

                    <div class="event-info">
                        

                        <div class="event-title text-center">
                            <h3 class="@ticketNameClass">
                                <strong>TICKET</strong> @tick.EventName - @tick.StartDateTime
                            </h3>
                        </div>

                        <div class="event-details container-fluid">
                            <div class="row">

                                <div class="col-xs-12">
                                    <table class="table table-striped">
                                        <tr>
                                            <td>
                                                <i class="fa fa-ticket"></i>
                                            </td>
                                            <td>
                                                Ticket Type:
                                            </td>
                                            <td>
                                                @tick.TickTypeAndPrice
                                            </td>
                                        </tr>
                                        @if (tick.GroupName.HasValue())
                                        {
                                            <tr>
                                                <td><i class="fa fa-list-ol"></i></td>
                                                <td>Group:</td>
                                                <td>@tick.GroupName</td>
                                            </tr>
                                        }

                                        @if (tick.SeatNumber.HasValue())
                                        {
                                            <tr>
                                                <td><i class="fa fa-list-ol"></i></td>
                                                <td>Seat No:</td>
                                                <td>@tick.SeatNumber</td>
                                            </tr>
                                        }
                                       
                                        <tr>
                                            <td><i class="fa fa-user"></i></td>
                                            <td>Guest:</td>
                                            <td>@tick.GuestFullName </td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-map-marker"></i></td>
                                            <td>Location:</td>
                                            <td>@tick.Location</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-arrow-circle-right"></i></td>
                                            <td>Presented By:</td>
                                            <td>@tick.OrganiserName</td>
                                        </tr>
                                    </table>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <img src="@Url.Image(tick.BarcodeImageDocumentId, height: 150, width: 150).WithFullUrl()" alt="barcode"/>
                                </div>
                                <hr/>
                            </div>
                            

                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    Produced by @tick.BrandName
                                    <span class="brand-text">
                                        @@ @tick.BrandUrl
                                    </span>
                                </div>
                            </div>
                            
                            <div class="ticket-img">
                                <img class="img-responsive" src="@Url.ContentForBrand("/img/ticket.jpg")" />
                            </div>

                            <div class="row top-buffer-10">
                                <div class="col-xs-12 terms">
                                    ORGANISER TERMS AND CONDITIONS.
                                    @tick.BrandUrl is managing the online tickets only. Please contact the "Event Organiser" for information. You must agree to the event
                                    organizer terms & conditions separately. Once the ticket is sold, event Organizer’s responsibility is to manage the ticket buyer and facilitate with
                                    agreed terms. TERMS AND CONDITIONS YOU MUST READ TERMS AND CONDITIONS CAREFULLY BEFORE PURCHASING
                                    TICKETS. BY PURCHASING TICKETS AND USING OUR SITES TO PUCHASE TICKETS YOU ARE AGREEING TO BE BOUND BY
                                    THE FOLLOWING TERMS AND CONDITIONS. IF YOU DO NOT INTEND TO BE BOUND BY THE TERMS AND CONDITIONS YOU
                                    SHOULD NOT PUCHASE. 1. You agree that your use of @tick.BrandUrl and the purchase of any ticket, goods or services will be
                                    governed by these terms and conditions ("Terms of Use"). 2. If we the tickets management suffer or incurs any loss or damage in connection
                                    with or as a direct consequence of any breach of these Terms of Use by you, you agree to indemnify the organisers for those losses and damages.
                                    3. REFUND 3.1 WE DO NOT REFUND TICKETS PURCHASE FEES (UNLESS THE SHOW IS CANCELLED) 3.2 We do not exchange or
                                    refund tickets and are not available for exchange. General law of the state prevails. 3.3 If an Event is cancelled, postponed or altered for any
                                    reason arranging of any substitute, refund or other, will be decided by the organisers at their discretion 4. Your identity /entry/ seat 4.1 You
                                    must bring 100 points of ID to the venue 4.2 If you do not have ID and if there is any issue in relation to claims by other parties in relation to
                                    the seat the organisers decision will be final. You may be asked to provide personal information, as that term is defined in the Privacy Act 1988
                                    (Cth) ("Personal Information") to before purchasing any ticket or before or at the show. If you do not provide that Personal Information we
                                    may not be able to sell you tickets or permit to entry and occupy a seat. All Personal Information will be maintained in accordance with our
                                    Privacy Policy which is protecting your information in line with community standards of a reasonable person. 5. Updates We may vary terms
                                    and conditions at any time. Any changes become effective on posting on any of our sites and specially the web site. By purchasing tickets you
                                    are agreeing monitor the terms and conditions and agree to be bound by these updates. 6. Issues Any ticket purchaser and user of this Site may
                                    report any alleged violation of the Site's Terms and Conditions to out lawyers email wherein we will investigate your claim and take any actions
                                    we deem appropriate at our sole discretion. We base our decisions on the opinion of our legal team and also based on natural justice. 7. loss or
                                    damage We will not liable for any loss or damage that may arise from the purchasing of tickets or any other activities relating to the show. 8.
                                    GOVERNING LAW 1. These Terms of Use shall be construed in accordance with and shall be governed by the laws in force in the State of
                                    Victoria. 2. You irrevocably submit to and accept the exclusive jurisdiction of any of the Courts of the State of Victoria or the Commonwealth of
                                    Australia and any courts of appeal from these courts. CUSTOMER TERMS and CONDITIONS
                                    can be viewed @Url.Terms().WithFullUrl().Build()
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
                        } @*end of for each ticket*@



                    </body>

                </html>
