@using Paramount
@model BookTicketsViewModel
@{
    ViewBag.Title = "Book Tickets";
    Layout = "~/Views/Shared/_ApplicationLayoutWithSearch.cshtml";
}
@section scripts
{
    <script>
        var model = @Html.Raw(Model.ToJsonString());

        $paramount.ui.bookTickets.init({
            data : model
        });
    </script>
}
<div id="bookTicketsView" class="event-book-tickets">
    <h2>Ticket Checkout</h2>

    <form data-bind="submit: submitTicketBooking" id="bookTicketsForm">

        <div class="row reservation-countdown" data-bind="visible: canContinue">
            <div class="col-xs-12">
                <div class="alert alert-warning">
                    Your tickets have been reserved for @Model.TotelReservationExpiryMinutes minutes.
                    Please confirm your ticket selection, details and payment.
                </div>

                <div class="alert alert-warning text-center alert-count-down">
                    <div data-bind="css : {strikethrough : outOfTime}">
                        Time Left:
                        <span data-bind="text: minsRemaining"></span>:<span data-bind="text: secondsRemainingDisplay"></span>
                    </div>
                    <div data-bind="visible: outOfTime()">
                        Sorry, you have run out of time. <a class="btn btn-primary" href="@Url.AdUrl(Slug.Create(true, Model.Title), Model.AdId, routeName: Model.CategoryAdType)">
                            Try Again.
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 book-tickets-form">

                @*Tickets*@
                <div class="bs-callout bs-callout-info">
                    <h4><i class="fa fa-ticket"></i>&nbsp; Tickets</h4>
                </div>

                <div data-bind="foreach: reservations">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <span class="label" data-bind="text: status, css : {'label-success' : isReserved, 'label-danger' : notReserved }"></span>
                            <span class="label" data-bind="text: quantityText, css : {'label-success' : isReserved, 'label-danger' : notReserved }"></span>
                            <span class="label" data-bind="visible: isReserved, text: totalCost, css : {'label-success' : isReserved, 'label-danger' : notReserved }"></span>
                        </div>
                    </div>

                    <div class="event-ticket">
                        <div class="row">
                            <div class="col-xs-2">
                                <img class="thumbnail img-responsive" src="@Url.Image(Model.EventPhoto)" />
                            </div>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>@Model.Title</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label>
                                            <i class="fa fa-ticket"></i> Ticket
                                        </label>
                                        <span data-bind="text: ticketTypeAndPrice"></span>
                                    </div>

                                    <div class="col-xs-12">
                                        <label>
                                            <i class="fa fa-list-ol"></i> Ticket ID
                                        </label>
                                        <span>TBC</span>
                                    </div>

                                    <div class="col-xs-12">
                                        <label>
                                            <i class="fa fa-map-marker"></i> Address
                                        </label>
                                        <span>@Model.Location</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="well">
                    <div class="text-right">
                        Total Cost: <span data-bind="text: $paramount.formatCurrency(totalCost())"></span>
                    </div>
                </div>
                <div data-bind="visible : notAllRequestsAreFulfilled">
                    <span class="alert alert-danger">
                        Unfortunately, one or more of your requests was greater than what is currently available.
                        @TryAgainButton()
                    </span>
                </div>

                @*User Details*@
                @Html.Partial("_UserEventBookingDetails")

                @*Payment*@
                <div class="bs-callout bs-callout-info">
                    <h4><i class="fa fa-credit-card"></i> &nbsp; Payment</h4>
                </div>
                <div class="form-group">
                    <p>
                        Please select payment type.
                    </p>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" data-bind="click: setPayPal">
                            <input type="radio" name="paymentMethod" value="PayPal" autocomplete="off"
                                   data-val="true"
                                   data-val-required="Payment method is required.">
                            <i class="fa fa-paypal"></i> &nbsp; Pay Pal
                        </label>
                        <label class="btn btn-primary" data-bind="click : setCreditCard">
                            <input type="radio" name="paymentMethod" value="CreditCard" autocomplete="off">
                            <i class="fa fa-credit-card"></i>&nbsp; Credit Card
                        </label>
                    </div>
                    <span class="field-validation-error help-block" data-bind="visible: paymentMethod() === undefined" data-valmsg-for="paymentMethod" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="col-sm-4 hidden-xs">
                <div class="bs-callout bs-callout-info">
                    <h4><i class="fa fa-list-alt"></i>&nbsp; @Model.Title</h4>
                </div>
                <p>@Model.Description</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" data-bind="visible: !canContinue()">
                <div class="alert alert-info">
                    Unable to continue. Your tickets could not be reserved due to availability.
                    @TryAgainButton()
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 book-tickets-form">
                <div class="pull-right" data-bind="visible: canContinue()">
                    <button class="btn btn-primary" type="submit" data-loading-text="Please Wait...">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@helper TryAgainButton()
{
    <a class="btn btn-default btn-sm js-load" href="@Url.AdUrl(Slug.Create(true, Model.Title), Model.AdId, routeName: Model.CategoryAdType)">
        <i class="fa fa-refresh"></i> Try Again.
    </a>
}