@using Paramount
@model BookTicketsViewModel
@{
    ViewBag.Title = "Book Tickets";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}
@section scripts
{
    <script>
        var model = @Html.Raw(Model.ToJsonString());

        $paramount.ui.bookTickets.init({
            data : model
        });
    </script>
}
<div id="bookTicketsView" class="event-book-tickets container top-buffer-60">
    <h2>Ticket Checkout</h2>

    @if (Model.PaymentCancelled.HasValue && Model.PaymentCancelled.Value)
    {
        <div class="alert alert-info">
            <i class="fa fa-check-circle"></i> Your payment has been cancelled successfully.
        </div>
    }

    <form data-bind="submit: submitTicketBooking" id="bookTicketsForm">

        @*Count down timer*@
        <div class="row reservation-countdown" data-bind="visible: canContinue">
            <div class="col-xs-12">
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i> Your tickets have been reserved for @Model.TotelReservationExpiryMinutes minutes.
                    Please confirm your ticket selection, details and payment.
                </div>

                <div class="alert alert-warning text-center alert-count-down">
                    <div data-bind="css : {strikethrough : outOfTime}">
                        Time Left:
                        <span data-bind="text: minsRemaining"></span>:<span data-bind="text: secondsRemainingDisplay"></span>
                    </div>
                    <div data-bind="visible: outOfTime()">
                        Sorry, you have run out of time. <a class="btn btn-primary" href="@Url.AdUrl(Slug.Create(true, Model.Title), Model.AdId, routeName: Model.CategoryAdType)">
                            Try Again.
                        </a>
                    </div>
                </div>
            </div>
        </div>

        @*Tickets and form*@
        <div class="row">
            <div class="col-sm-8 book-tickets-form">

                <div class="bs-callout bs-callout-info">
                    <h4><i class="fa fa-ticket"></i>&nbsp; Tickets</h4>
                    <p data-bind="visible: canContinue">We'll need some details for each guest. If you logged in we prefilled some details for you.</p>
                </div>

                <div data-bind="foreach: reservations">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <span class="label" data-bind="text: status, css : {'label-success' : isReserved, 'label-danger' : notReserved }"></span>
                            <span class="label" data-bind="visible: isReserved, text: totalCostFormatted, css : {'label-success' : isReserved, 'label-danger' : notReserved }"></span>
                        </div>
                    </div>

                    <div class="event-ticket">
                        <div class="row">
                            @{
                                var detailClass = Model.EventPhoto.HasValue() ? "col-xs-10" : "col-xs-12";
                            }
                            @if (Model.EventPhoto.HasValue())
                            {
                                <div class="col-xs-2">
                                    <img class="thumbnail img-responsive" src="@Url.Image(Model.EventPhoto)" />
                                </div>
                            }
                            <div class="@detailClass">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>@Model.Title</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="ticket-label">
                                            <i class="fa fa-ticket"></i> Ticket
                                        </label>
                                        <span data-bind="text: ticketTypeAndPrice"></span>
                                    </div>

                                    <div class="col-xs-12">
                                        <label class="ticket-label">
                                            <i class="fa fa-map-marker"></i> Address
                                        </label>
                                        <span>@Model.Location</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="control-group" data-bind="validationElement: guestFullName">
                                    <label class="control-label">Guest Full Name</label> *
                                    <input type="text" data-bind="value: guestFullName" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="control-group" data-bind="validationElement: guestEmail">
                                    <label class="control-label">Guest Email</label> *
                                    <input type="email" data-bind="value: guestEmail" class="form-control" />
                                </div>
                            </div>

                        </div>
                        <div class="row" data-bind="foreach: ticketFields">
                            <div class="col-sm-6">
                                <div class="control-group" data-bind="validationElement: fieldValue">
                                    <label class="control-label" data-bind="text: fieldName"></label>
                                    <span data-bind="visible: isRequired">*</span>
                                    <input type="text" data-bind="value: fieldValue" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="well top-buffer-60">
                    <div class="row">
                        <div class="col-xs-6" id="emailGuestsToggle">
                            <input type="checkbox" data-bind="toggle: sendEmailToGuests"
                                   data-onstyle="success"
                                   data-on="Email Guests"
                                   data-off="Don't Email" />

                            <p class="help-block" data-bind="visible: sendEmailToGuests">Send an email to each guest with a calendar invitation</p>
                            <p class="help-block" data-bind="visible: sendEmailToGuests() === false">Only the purchaser will be notified</p>

                        </div>
                        <div class="col-xs-6 text-right">
                            <h4>Total Cost: <strong><span data-bind="text: $paramount.formatCurrency(totalCost())"></span></strong></h4>
                        </div>
                    </div>
                </div>
                <div data-bind="visible : notAllRequestsAreFulfilled">
                    <span class="alert alert-danger">
                        Unfortunately, one or more of your requests was greater than what is currently available.
                        @TryAgainButton()
                    </span>
                </div>

                @*User Details*@
                @Html.Partial("_UserEventBookingDetails")

            </div>

            <div class="col-sm-4 hidden-xs">
                <div class="bs-callout bs-callout-info">
                    <h4><i class="fa fa-list-alt"></i>&nbsp; @Model.Title</h4>
                </div>
                <p>@Model.Description</p>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-8" data-bind="visible: !canContinue()">
                <div class="alert alert-info">
                    Unable to continue. Your tickets could not be reserved due to availability.
                    @TryAgainButton()
                </div>
            </div>


            <div class="col-xs-12 col-sm-8" data-bind="visible: invalidCredentials">
                <div class="alert alert-danger">
                    It appears that the email and password combination are not correct.
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 no-display" id="serverValidation">
                <div class="alert alert-danger"></div>
            </div>

            <div class="col-xs-12 col-sm-8 book-tickets-form">
                <div class="alert alert-warning" data-bind="visible: requiresPayment">
                    By proceeding to payment, you agree to the <a href="@Url.Terms()">terms and
                        conditions</a> and are committed to purchase the tickets.
                </div>

                <div class="pull-right" data-bind="visible: canContinue()">
                    <button class="btn btn-primary" data-loading-text="Please Wait..." id="proceedToPaymentBtn">
                        <span data-bind="visible: requiresPayment">Proceed to Payment <i class="fa fa-arrow-right"></i></span>
                        <span data-bind="visible: requiresPayment() === false">Get My Tickets!</span>
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>

@helper TryAgainButton()
{
    <a class="btn btn-default btn-sm js-load" href="@Url.AdUrl(Slug.Create(true, Model.Title), Model.AdId, routeName: Model.CategoryAdType)">
        <i class="fa fa-refresh"></i> Try Again.
    </a>
}