@using Paramount
@model BookTicketsViewModel
@{
    ViewBag.Title = "Book Tickets";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}
@section scripts
{
    <script>
        var model = @Html.Raw(Model.ToJsonString());

        $paramount.ui.bookTickets.init({
            data : model
        });
    </script>
}
<div id="bookTicketsView" class="event-book-tickets container top-buffer-60">
    <h2>Ticket Checkout</h2>

    @if (Model.PaymentCancelled.HasValue && Model.PaymentCancelled.Value)
    {
        <div class="alert alert-info">
            <i class="fa fa-check-circle"></i> Your payment has been cancelled successfully.
        </div>
    }

    <form data-bind="submit: submitTicketBooking" id="bookTicketsForm">

        @*Count down timer*@
        <div class="row reservation-countdown" data-bind="visible: canContinue">
            <div class="col-xs-12">
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i> Your tickets have been reserved for @Model.TotelReservationExpiryMinutes minutes.
                    Please confirm your ticket selection, details and payment.
                </div>

                <div class="alert alert-warning text-center alert-count-down">
                    <div data-bind="css : {strikethrough : outOfTime}">
                        Time Left:
                        <span data-bind="text: minsRemaining"></span>:<span data-bind="text: secondsRemainingDisplay"></span>
                    </div>
                    <div data-bind="visible: outOfTime()">
                        Sorry, you have run out of time. <a class="btn btn-primary" href="@Url.AdUrl(Slug.Create(true, Model.Title), Model.AdId, Model.CategoryAdType)">
                            Try Again.
                        </a>
                    </div>
                </div>
            </div>
        </div>

        @*Tickets and form*@
        <div class="row">
            <div class="col-sm-12 book-tickets-form">

                <div class="bs-callout bs-callout-info">
                    <h4><i class="fa fa-ticket"></i>&nbsp; Tickets</h4>
                    <p data-bind="visible: canContinue">We'll need some details for each guest. Buyer details have been prefilled.</p>
                </div>

                <div data-bind="foreach: reservations">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <span class="label" data-bind="text: status, css : {'label-success' : isReserved, 'label-danger' : notReserved }"></span>
                            <span class="label" data-bind="visible: isReserved, text: totalCostFormatted, css : {'label-success' : isReserved, 'label-danger' : notReserved }"></span>
                        </div>
                    </div>

                    <div class="event-ticket">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>@Model.Title</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-md-2">
                                <label class="ticket-label">
                                    <i class="fa fa-ticket"></i> Ticket
                                </label>
                            </div>
                            <div class="col-xs-9 col-md-8">
                                <span data-bind="text: ticketTypeAndPrice"></span>
                            </div>
                        </div>

                        <div class="row" data-bind="visible: seatNumber() !== undefined">
                            <div class="col-xs-3 col-md-2">
                                <label class="ticket-label">
                                    <i class="fa fa-user"></i> Seat
                                    <span class="hidden-xs">Number</span>
                                </label>
                            </div>
                            <div class="col-xs-9 col-md-8">
                                <span data-bind="text: seatNumber"></span>
                            </div>
                        </div>

                        <div class="row" data-bind="visible: eventGroupName() !== undefined">
                            <div class="col-xs-3 col-md-2">
                                <label class="ticket-label">
                                    <i class="fa fa-users"></i> Group
                                </label>
                            </div>
                            <div class="col-xs-9 col-md-8">
                                <span data-bind="text: eventGroupName"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-3 col-md-2">
                                <label class="ticket-label">
                                    <i class="fa fa-map-marker"></i> Address
                                </label>
                            </div>
                            <div class="col-xs-9 col-md-8">
                                <span>@Model.Location</span>
                            </div>
                        </div>

                        <div class="row top-buffer-10">
                            <div class="col-sm-6">
                                <div class="control-group" data-bind="validationElement: guestFullName">
                                    <label class="control-label">Guest Full Name</label> *
                                    <input type="text" data-bind="value: guestFullName" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="control-group" data-bind="validationElement: guestEmail">
                                    <label class="control-label">Guest Email</label> *
                                    <input type="email" data-bind="value: guestEmail" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-12" data-bind="visible: displayGuests">
                                <label>Let others know I'm coming:</label>
                                <div>
                                    <input type="checkbox" data-bind="toggle: isPublic" data-on="Yes" data-off="No" />
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="foreach: ticketFields">
                            <div class="col-sm-6">
                                <div class="control-group" data-bind="validationElement: fieldValue">
                                    <label class="control-label" data-bind="text: fieldName"></label>
                                    <span data-bind="visible: isRequired">*</span>
                                    <input type="text" data-bind="value: fieldValue" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-bind="visible : notAllRequestsAreFulfilled">
                    <span class="alert alert-danger">
                        Unfortunately, one or more of your requests was greater than what is currently available.
                        @TryAgainButton()
                    </span>
                </div>

                <div class="top-buffer-40"></div>

                @*User Details*@
                @Html.Partial("_UserEventBookingDetails")

            </div>

        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-8" data-bind="visible: !canContinue()">
                <div class="alert alert-info">
                    Unable to continue. Your tickets could not be reserved due to availability.
                    @TryAgainButton()
                </div>
            </div>



            <div class="col-xs-12 col-sm-8 no-display" id="serverValidation">
                <div class="alert alert-danger"></div>
            </div>

            <div class="col-xs-12 col-sm-8 book-tickets-form top-buffer-20">
                <div class="alert alert-warning" data-bind="visible: requiresPayment">
                    By proceeding, you agree to the <a href="@Url.Terms()" target="_blank">
                        terms and conditions </a> and are committed to purchase the tickets.
                </div>

                @if (Model.HasPromoCodes)
                {
                    <div class="alert alert-info" data-bind="visible: !promoCodeApplied()">
                        <label class="control-label">Promo Code:</label>
                        <div class="input-group">
                            <input type="text" id="promoCode" class="form-control" data-bind="value: promoCode" autocomplete="off" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-bind="click: applyPromoCode" data-loading-text="applying...">Apply!</button>
                            </span>
                        </div>
                        <p class="help-block">
                            Do you have a promo code? Enter it here to reveal any potential discount.
                        </p>
                    </div>

                    <div class="alert alert-danger" data-bind="visible: promoNotAvailable() && !promoCodeApplied()">
                        Sorry. That code cannot be found or has been exhausted.
                    </div>

                    <div class="alert alert-success" data-bind="visible: promoCodeApplied">
                        Your promo code has been applied.
                        <div data-bind="visible: promoDiscountPercent() > 0">
                            A discount of <strong>
                                <span data-bind="text: $paramount.formatCurrency( promoDiscountAmount() )"></span>
                                (<span data-bind="text: promoDiscountPercent"></span>%)
                            </strong> was applied.
                        </div>
                    </div>
                }

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tickets Total</th>
                            <th>Transaction Fee</th>
                            <th>Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tst-totalTicketCost">
                                <span data-bind="text: $paramount.formatCurrency(price()), css : {'strikethrough': promoDiscountPercent() > 0 }"></span>
                                <span data-bind="text: $paramount.formatCurrency(priceAfterDiscount()), visible: promoDiscountPercent() > 0"></span>
                            </td>
                            <td class="tst-totalFees" data-bind="text: $paramount.formatCurrency(fee())"></td>
                            <td class="tst-subTotal">
                                <h4 data-bind="text: $paramount.formatCurrency( totalPrice() )"></h4>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="pull-right" data-bind="visible: canContinue()">
                    <button class="btn btn-primary btn-lg" data-loading-text="Please Wait..." id="proceedToPaymentBtn">
                        <i class="fa fa-arrow-right"></i>
                        Submit
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>

@helper TryAgainButton()
{
    <a class="btn btn-default btn-sm js-load" href="@Url.AdUrl(Slug.Create(true, Model.Title), Model.AdId, Model.CategoryAdType)">
        <i class="fa fa-refresh"></i> Try Again.
    </a>
}