@model EventBookedViewModel

@{
    ViewBag.Title = "Tickets Booked Successfully";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@section HeadSection
{
    <link rel="canonical" href="@Model.EventUrl" />
    <meta name="description" content="@Model.Description" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="robots" content="index, follow" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@Model.Title" />
    <meta name="twitter:description" content="@Model.Description" />
    <meta name="twitter:image" content="@Model.EventPhotoUrl" />

    <meta property="fb:app_id" content="@Model.FacebookAppId" />
    <meta property="og:url" content="@Model.EventUrl" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Description" />
    <meta property="og:image" content="@Model.EventPhotoUrl" />
}

@section scripts
{
    <script>
        $(function () {
            $paramount.social.setupFacebook($('#shareOnFacebook'), {
                href: "@Model.EventUrl",
                picture: '@Model.EventPhotoUrl',
                name: '@Model.Title',
                description: '@Model.Description'
            });

            var data = @Html.Raw(Model.GroupSelectionViewModel.ToJsonString());
            var rootNode = $('#eventGroupSeletion')[0];
            var model = new $paramount.models.EventGroupSelector(data);
            ko.applyBindings(model, rootNode);
        });
    </script>
}

<div class="container top-buffer-60">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1>Tickets Booked</h1>
                <p id="eventBookedSuccessMsg">
                    You have tickets to <strong>@Model.Title</strong>
                </p>
                <div class="row">
                    <div class="col-xs-12">
                        Tell your friends:
                    </div>
                    <div class="col-xs-12 social-share">

                        @*Facebook*@
                        <a id="shareOnFacebook" class="btn btn-default btn-lg"><i class="fa fa-facebook"></i></a>

                        @*Twitter*@
                        <a class="btn btn-default btn-lg" href="http://twitter.com/intent/tweet?text=@Model.SocialShareText&url=@Model.EventUrl" onclick="window.open(this.href, 'sharetwitter', 'toolbar=0,status=0,width=480,height=360');return false;" target="_blank"><i class="fa fa-twitter"></i></a>

                        @*Google Plus*@
                        <a class="btn btn-default btn-lg" href="https://plus.google.com/share?url=@Model.EventUrl" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus"></i></a>

                        @*Linked in*@
                        <a class="btn btn-default btn-lg" href="https://www.linkedin.com/cws/share?url=@Model.EventUrl" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-linkedin"></i></a>

                        @*Email*@
                        <a class="btn btn-default btn-lg" href="mailto:someone@example.com?Body=@Model.SocialShareText" target="_blank"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <p>
                Go ahead and check your email <strong>@Model.CustomerEmailAddress</strong>. You should get your tickets and print them any time.
                Should you have any issues, don't hesitate to contact the organiser @Model.OrganiserName @Model.OrganiserEmail or our
                @Html.ActionLink("friendly team", "ContactUs", "Home").
            </p>
        </div>
    </div>

    <div class="row" id="eventGroupSelection">
        <div class="col-xs-12">
            <h2>Group Selection</h2>
        </div>

        <div class="col-xs-12">
            <div class="row" data-bind="foreach: eventBookingTickets">
                <div class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-ticket"></i> <span data-bind="text: friendlyTicketName"></span>
                        </div>
                        <div class="panel-body">
                            <div class="form-group-lg">
                                <label class="control-label">
                                    Available Groups:
                                </label>
                                <div class="input-group">
                                    <select class="form-control input-lg"
                                            data-bind="options: groups, optionsText: 'groupName', value: selectedGroup, optionsCaption: 'Un-Assigned...', event:{ change: groupChanged}, attr : {'data-guestName' : guestFullName}"></select>
                                    <div class="input-group-addon">
                                        <h4>
                                            <i data-bind="visible: isGroupSelected() === false && !isUpdating()" class="fa fa-times-circle-o"></i>
                                            <i data-bind="visible: isGroupSelected() && !isUpdating()" class="fa fa-check-circle-o"></i>
                                            <img src="@Url.Content("~/Content/images/loader.gif")" style="max-width: 25px;"
                                                 data-bind="visible: isUpdating" />
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-danger" data-bind="visible: errorMsg().length > 0">
                                <span data-bind="text: errorMsg"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
