@model EventBookedViewModel

@{
    ViewBag.Title = "Tickets Booked Successfully";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<div class="container top-buffer-60">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1>Done</h1>
                <p>
                    You have tickets to <strong>@Model.Title</strong>
                </p>
                <div class="row">
                    <div class="col-xs-12">
                        Tell your friends:
                    </div>
                    <div class="col-xs-12 social-share">
                        
                        @*Facebook*@
                        <a id="shareOnFacebook" class="btn btn-default btn-lg"><i class="fa fa-facebook"></i></a>

                        @*Twitter*@
                        <a class="btn btn-default btn-lg" href="http://twitter.com/intent/tweet?text=@Model.SocialShareText&url=@Model.EventUrl" onclick="window.open(this.href, 'sharetwitter', 'toolbar=0,status=0,width=480,height=360');return false;" target="_blank"><i class="fa fa-twitter"></i></a>

                        @*Google Plus*@
                        <a class="btn btn-default btn-lg" href="https://plus.google.com/share?url=@Model.EventUrl" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus"></i></a>

                        @*Linked in*@
                        <a class="btn btn-default btn-lg" href="https://www.linkedin.com/cws/share?url=@Model.EventUrl" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-linkedin"></i></a>

                        @*Email*@
                        <a class="btn btn-default btn-lg" href="mailto:someone@example.com?Body=@Model.SocialShareText" target="_blank"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <p>
                Go ahead and check your email <strong>@Model.CustomerEmailAddress</strong>. You should get your tickets and print them any time.
                Should you have any issues, don't hesitate to contact the organiser @Model.OrganiserName @Model.OrganiserEmail or our
                @Html.ActionLink("friendly team", "ContactUs", "Home").
            </p>
        </div>
    </div>
</div>




@section HeadSection
{
    <link rel="canonical" href="@Model.EventUrl" />

    <meta name="description" content="@Model.Description" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="robots" content="index, follow" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@Model.Title" />
    <meta name="twitter:description" content="@Model.Description" />
    <meta name="twitter:image" content="@Model.EventPhotoUrl" />

    <meta property="fb:app_id" content="@Model.FacebookAppId" />
    <meta property="og:url" content="@Model.EventUrl" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Description" />
    <meta property="og:image" content="@Model.EventPhotoUrl" />
}


@section scripts
{
    <script>
        $paramount.social.setupFacebook( $('#shareOnFacebook') , {
            href: "@Model.EventUrl",
            picture: '@Model.EventPhotoUrl',
            name: '@Model.Title',
            description: '@Model.Description'
        });

    </script>
}
