@model InvitationViewModel

@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@section Scripts
{
    <script>
        var ticketSelection = @Html.Raw(Model.Tickets.ToJsonString());
        var eventId = @Model.EventId;
        var token = '@Model.EventInvitationId';
        $paramount.ui.invitation.init(eventId, token, ticketSelection);
        ko.applyBindings({}, document.getElementById('ticketing'));
    </script>
}

<div class="container top-buffer-60">
    @if (Model.IsEventClosed)
    {
        <div class="alert alert-warning">

            <h3>
                <i class="fa fa-times-circle-o"></i> Sorry. The event you are looking for has been closed. Tickets are no longer available.
            </h3>
        </div>
    }
    else if (Model.IsAlreadyConfirmed)
    {
        <div class="alert alert-warning">

            <h3>
                <i class="fa fa-times-circle-o"></i> Sorry. This invitation has already been used or expired.
            </h3>
        </div>
    }
    else if (Model.IsEventPassed)
    {
        <div class="alert alert-warning">

            <h3>
                <i class="fa fa-times-circle-o"></i> Sorry. This event has passed.
            </h3>
        </div>
    }
    else
    {
        <div class="well well-lg">
            Hello @Model.GuestFullName, you have been invited to the following event:
        </div>
        <h1>
            @Model.EventName
        </h1>
        <p class="lead">
            @Model.EventStartDate @@@Model.Location
        </p>

        <div class="ticketing" id="ticketing">
            <find-tickets params="{eventId: @Model.EventId, maxTicketsPerBooking : @Model.MaxTicketsPerBooking, eventInvitationId : @Model.EventInvitationId, baseUrl: '@Url.Home().WithFullUrl()'}"></find-tickets>
        </div>
    }
</div>