@model MakePaymentViewModel

@{
    ViewBag.Title = "Make Payment";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@section Scripts
{
    <script>
        $(function () {
            $('#payWithPayPal').on('click', function () {
                var eventService = new $paramount.EventService();
                eventService.payWithPayPal();
            });
        })
    </script>
}

<div class="container">
    <div class="row top-buffer-40">
        @if (Model.CardFailedMessage.HasValue())
        {
            <div class="col-xs-12">
                <div class="alert alert-danger">
                    @Model.CardFailedMessage
                </div>
            </div>
        }

        <div class="col-xs-12 well well-lg">
            <h1>
                Checkout <i class="fa fa-shopping-cart"></i>
            </h1>
            <p class="lead">
                You have committed to purchase tickets. Please DO NOT refresh or navigate away from this page.
            </p>

            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Ticket</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var t in Model.EventTickets)
                    {
                        <tr>
                            <td><i class="fa fa-ticket"></i></td>
                            <td>@t.GuestFullName</td>
                            <td>@t.TicketName</td>
                            <td>@t.Price.GetValueOrDefault().ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="col-xs-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tickets Total</th>
                        <th>Transaction Fee</th>
                        <th>Sub Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.TotalCostWithoutFees.ToString("C")</td>
                        <td>@Model.TotalFees.ToString("C")</td>
                        <td><h4>@Model.TotalCost.ToString("C")</h4></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-12">
            <h3>Payment Options</h3>

            <table class="table">
                <tr>
                    @if (Model.EnableCreditCardPayments)
                    {
                        <td>
                            <h4>Credit Card <i class="fa fa-credit-card"></i></h4>
                            <p>
                                Safely use our quick checkout, you can be sure we
                                do not store your card details.
                            </p>
                            <form action="@Url.EventPayWithStripe()" method="POST">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="@Model.StripePublishableKey"
                                        data-amount="@Model.TotalCostCents"
                                        data-name=""
                                        data-description="Ticket Purchase"
                                        data-locale="auto"
                                        data-zip-code="false"
                                        data-currency="aud">



                                </script>
                            </form>
                        </td>
                    }

                    @if (Model.EnablePayPalPayments)
                    {
                        <td>
                            <h4>PayPal <i class="fa fa-paypal"></i></h4>
                            <p>The security you rely on – now even faster. It’s everything checkout should be. </p>
                            <p>
                                <button type="submit" class="btn btn-info js-load" id="payWithPayPal">
                                    Pay with PayPal <i class="fa fa-paypal"></i>
                                </button>
                            </p>
                        </td>
                    }
                </tr>
            </table>

        </div>
    </div>
</div>