@using Paramount
@model List<EventTicketPrintViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TicketPrint</title>
    <link rel="stylesheet" href="@Url.ContentAbsolute("~/Content/bootstrap-3.3.0.min.css")" media="all" />
    <link rel="stylesheet" href="@Url.ContentAbsolute("~/Content/event-ticket-print.min.css")" media="all" />
    <link rel="stylesheet" href="@Url.ContentAbsolute("~/Content/font-awesome-4.4.0.css")" media="all" />
</head>
<body>

    @foreach (var tick in Model)
    {
        <div class="ticket-container">
            <div class="ticket">
                <div class="event-picture">
                    <img src="@Url.Image(@tick.ImageUrl, height: 200, width: 200).WithFullUrl()" />
                </div>
                <div class="event-info">
                    <div class="event-title">
                        <h3>
                            @tick.EventName
                        </h3>
                    </div>
                    <div class="event-details container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>
                                    <i class="fa fa-list-ol"></i> Number
                                </label>
                                <span class="detail">@tick.TicketNumber</span>
                            </div>

                            <div class="col-xs-6">
                                <label>
                                    <i class="fa fa-map-marker"></i> Address
                                </label>
                                <span class="detail">@tick.Location</span>
                            </div>

                            <div class="col-xs-6">
                                <label>
                                    <i class="fa fa-ticket"></i> Ticket
                                </label>
                                <span class="detail">@tick.TicketName @tick.Price.ToString("C")</span>
                            </div>

                            <div class="col-xs-6">
                                <label>
                                    <i class="fa fa-clock-o"></i> When
                                </label>
                                <span class="detail">@tick.StartDateTime</span>
                            </div>

                            @if (tick.ContactNumber.HasValue())
                            {
                                <div class="col-xs-6">
                                    <label>
                                        <i class="fa fa-phone"></i> Help
                                    </label>
                                    <span class="detail">@tick.ContactNumber</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="event-barcode">
                    <img src="@Url.ActionAbsolute("Barcode", "Image", new { data = tick.TicketNumber })" />
                </div>
            </div>
        </div>
    }



</body>
</html>
