@using Paramount
@using Paramount.ApplicationBlock.Mvc.HtmlHelpers

@model EventViewDetailsModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_ApplicationLayoutWithSearch.cshtml";
}

@section scripts
{
    <script>
        var ticketData = @Html.Raw( Model.Tickets.ToJsonString() );

        $paramount.ui.eventView.init({
            ticketData : ticketData,
            adId : @Model.AdId,
            baseUrl : '@Url.Action("Index", "Home")'
        });
    </script>
}

<div class="event-details" id="eventView">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <div class='event-title @(Model.EventPhoto.IsNullOrEmpty() ? "full-width" : "")'>
                    <h1>@Model.Title</h1>
                    <p class="details">@Model.EventStartDate at @Model.EventStartTime.</p>
                    <p>@Html.Raw(Model.Description)</p>
                    @if (Model.TicketingEnabled)
                    {
                        <p>
                            <a class="btn btn-lg btn-primary" href="#ticketing" role="button">Find Tickets</a>
                        </p>
                    }
                </div>
                @if (Model.EventPhoto.HasValue())
                {
                    <div class="event-photo">
                        <img src="@Url.Image(Model.EventPhoto, height: 290, width: 290)" class="thumbnail" />
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="location-details">
                <div class="row">
                    <div class="col-xs-6">
                        <h4>@Model.Location</h4>
                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right">
                            <a class="btn btn-default" href='http://maps.google.com/?q=@Model.LocationLatitude,@Model.LocationLongitude' target="_blank">
                                <i class="fa fa-map-marker"></i> Open in maps
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="google-map" data-latitude="@Model.LocationLatitude" data-longitude="@Model.LocationLongitude" data-address="@Model.Location"></div>
        </div>
    </div>

    <div class="row top-buffer-20">
        <div class="col-xs-12 col-md-6 ticketing" id="ticketing">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><i class="fa fa-ticket"></i> Ticketing</h4>
                </div>
                @if (Model.TicketingEnabled)
                {
                    <ul class="list-group" data-bind="foreach: tickets">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-4">
                                    <span class="ticket-info" data-bind="text: ticketName"></span>
                                </div>
                                <div class="col-xs-2">
                                    <span class="ticket-info" data-bind="visible: price() === 0, text : 'Free'"></span>
                                    <span class="ticket-info" data-bind="visible: price() > 0, text : priceFormatted"></span>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-inline pull-right">
                                        <div class="form-group">
                                            <span class="ticket-info">Quantity</span>
                                            <select class="form-control" data-bind="value: selectedQuantity">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="panel-footer clearfix" data-bind="visible: totalSelectedTickets() > 0">
                        <button class="btn btn-primary pull-right" data-bind="click: startOrder">
                            Book Now <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                }
                else
                {
                    <div class="panel panel-body">
                        Ticketing is not available for this event.
                    </div>
                }
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><i class="fa fa-phone"></i> Organiser Details</h4>
                </div>

                <table class="table table-striped">
                    @Html.AdContactDetail(m => m.OrganiserName, "user")
                    @Html.AdContactDetail(m => m.OrganiserPhone, "phone")
                    @Html.AdContactDetail(m => m.Views, "eye-open")
                    @Html.AdContactDetail(m => m.Posted, fontIcon: "calendar-check-o")
                </table>

            </div>
        </div>

        @*Contact*@
        <div class="col-xs-12">
            @Html.Partial("_ContactAdvertiser.cshtml")
        </div>
    </div>
</div>
