@using Paramount
@model EventViewDetailsModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

@Html.Partial("_FloorPlanDialog")

<div class="event-details">
    <div class="event-title">
        <div class="container">
            <h1>
                @Model.Title
            </h1>
            <p class="details"><i class="fa fa-calendar-check-o"></i> @Model.EventStartDateDisplay at @Model.EventStartTime.</p>
            <p><i class="fa fa-map-marker"></i> @Model.LocationFriendlyName</p>
            <p class="details floor-plan">
                <i class="fa fa-map"></i>
                <a data-toggle="modal" id="btnViewFloorplan" data-target="#floorplanDialog">
                    View Floor Plan / Seating
                </a>
            </p>

            <div class="pull-right social-share">
                <div id="fb-root"></div>

                @*Facebook*@
                <a id="shareOnFacebook" class="btn btn-default btn-lg"><i class="fa fa-facebook"></i></a>

                @*Twitter*@
                <a class="btn btn-default btn-lg" href="http://twitter.com/intent/tweet?text=@Model.SocialShareText&url=@Model.EventUrl" onclick="window.open(this.href,'sharetwitter','toolbar=0,status=0,width=480,height=360');return false;" target="_blank"><i class="fa fa-twitter"></i></a>

                @*Google Plus*@
                <a class="btn btn-default btn-lg" href="https://plus.google.com/share?url=@Model.EventUrl" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus"></i></a>

                @*Linked in*@
                <a class="btn btn-default btn-lg" href="https://www.linkedin.com/cws/share?url=@Model.EventUrl" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-linkedin"></i></a>

                @*Email*@
                <a class="btn btn-default btn-lg" href="mailto:someone@example.com?Body=@Model.SocialShareText" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
    </div>

    @*Event details go here!*@

    <div class="container" id="eventView">
        @{
            var classForMainEventContent = Model.TicketingEnabled ? "col-sm-8" : "col-sm-12";
        }

        @if (Model.TicketingEnabled)
        {
            <div class="col-sm-4">

                <div class="ticket-booth">
                    <div class="well well-lg">
                        <h3 class="page-header">
                            <i class="fa fa-ticket"> </i> Tickets
                        </h3>

                        @if (Model.IsClosed)
                        {
                            <div class="alert alert-warning">Ticketing has been closed this event :(</div>
                        }
                        else if (Model.EventEndDate <= DateTime.Now)
                        {
                            <div class="alert alert-warning">This event was has passed.</div>
                        }
                        else
                        {
                            <div class="ticketing" id="ticketing">
                                @Html.Partial("_TicketSelectionByGroup")

                                @Html.Partial("_TicketSelection")

                                <div class="well  text-right" data-bind="visible: totalSelectedTickets() > 0">
                                    <button class="btn btn-primary" data-loading-text="Please Wait..."
                                            data-bind="click: startOrder" id="btnGetTickets">
                                        Get Tickets <i class="fa fa-arrow-right"></i>
                                    </button>
                                </div>
                                
                            </div>
                        }
                    </div>
                </div>
            </div>
        }

        <div class="@classForMainEventContent">

            @if (Model.EventPhoto.HasValue())
            {
                <div class="event-photo" style="background-image:url('@Url.Image(Model.EventPhoto, 400, 1020)')"></div>
            }
            <h3 class="page-header">
                <i class="fa fa-paperclip"></i> Event Details
            </h3>
            <div class="well well-lg @(Model.HtmlText.Length > 600 ? "small" : "")">
                @Html.Raw(Model.HtmlText)
            </div>

            <div class="event-map top-buffer-40">
                <div class="google-map" data-latitude="@Model.LocationLatitude" data-longitude="@Model.LocationLongitude" data-address="@Model.Location"></div>
                <div class="container top-buffer-20">
                    <div class="text-center">
                        <a class="btn btn-default" href='http://maps.google.com/?q=@Model.Location' target="_blank">
                            <i class="fa fa-map-marker"></i> Open in maps
                        </a>
                    </div>
                </div>
            </div>

            <div class="row top-buffer-20">
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4><i class="fa fa-phone"></i> Organiser Details</h4>
                        </div>
                        <table class="table table-striped">
                            @Html.AdContactDetail(m => m.OrganiserName, "user")
                            @Html.AdContactDetail(m => m.OrganiserPhone, "phone")
                            @Html.AdContactDetail(m => m.Posted, fontIcon: "calendar-check-o")
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    @Html.Partial("_ContactAdvertiser")
                </div>

            </div>
        </div>
    </div>
</div>


@section HeadSection
{
    <link rel="canonical" href="@Model.EventUrl" />

    <meta name="description" content="@Model.Description" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="robots" content="index, follow" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@Model.Title" />
    <meta name="twitter:description" content="@Model.Description" />
    <meta name="twitter:image" content="@Url.ImageOriginal(Model.EventPhoto).WithFullUrl()" />

    <meta property="fb:app_id" content="@Model.FacebookAppId" />
    <meta property="og:url" content="@Model.EventUrl" />
    <meta property="og:type" content="events.event" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Description" />
    <meta property="og:image" content="@Url.ImageOriginal(Model.EventPhoto).WithFullUrl()" />

    <meta property="event:location:latitude" content="@Model.LocationLatitude">
    <meta property="event:location:longitude" content="@Model.LocationLongitude">
    <meta property="event:start_time" content="@Model.EventStartDate.ToString("s")">
    <meta property="event:end_time" content="@Model.EventEndDate.ToString("s")">
}


@section scripts
{
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Event",
        "name": "@Model.Title",
        "description" : "@Model.Description"
        "startDate": "@Model.EventStartDate.ToString("yyyy-MM-ddTHH:mm")",
        "endDate": "@Model.EventEndDate.ToString("yyyy-MM-ddTHH:mm")",
        "url": "@Model.EventUrl",
        "location": {
        "@@type": "Place",
        "address": "@Model.Location"
        }
        }
    </script>

    <script>
        var ticketData = @Html.Raw(Model.Tickets.ToJsonString());
        $paramount.ui.eventView.init({
            ticketData: ticketData,
            groupsRequired:@Model.GroupsRequired.ToJsonString(),
            maxTicketsPerBooking: @Model.MaxTicketsPerBooking,
            eventId: @Model.EventId,
            floorPlanDocumentId: '@Model.LocationFloorPlanDocumentId',
            floorPlanFileName: '@Model.LocationFloorPlanFilename'
        });

        $paramount.social.setupFacebook($('#shareOnFacebook'), {
            href: "@Model.EventUrl",
            picture: '@Url.ImageOriginal(Model.EventPhoto).WithFullUrl()',
            name: '@Model.Title',
            description: '@Model.Description'
        });

    </script>
}
