@model ManageOrganisersViewModel


@{
    ViewBag.Title = "Manage Event Organisers";
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}


@section Scripts
{
    <script>
        $(function() {
            var data = @Html.Raw(Model.ToJsonString());
            var vm = new $paramount.models.ManageOrganisers(data);
            ko.applyBindings(vm);
        });
    </script>
}

<div class="container top-buffer-60" id="manageOrganisers">
    <h2 class="page-header">
        Manage Event Organisers
    </h2>
    <p>
        Provide access to other team members that can manage your event.
    </p>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-offset-6 col-md-3">
            <button id="btnAddOrganiser" class="btn btn-primary btn-block"
                    data-bind="click: addOrganiser">
                <i class="fa fa-plus-circle"></i>
                Add Organiser
            </button>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="@Url.EventDashboard(Model.AdId)" class="btn btn-default btn-block js-load">
                <i class="fa fa-arrow-circle-left"></i>
                <span class="hidden-sm">Event</span>
                Dashboard
            </a>
        </div>

    </div>

    <div class="top-buffer-20 bounceIn" data-bind="visible: showAddOrganiser">
        <add-organiser params="eventId: @Model.EventId, ownerEmail: '@Model.OwnerEmail', onSuccess: organiserAdded, onCancel: cancelAdd"></add-organiser>
    </div>
    
    <div class="row top-buffer-20">
        
        <div class="col-xs-12">
            <div class="alert alert-info-alt">
                Event owner : @Model.OwnerEmail
            </div>
        </div>

        <div class="col-xs-12" data-bind="visible: organisers().length === 0">
            You are currently the only organiser.
        </div>

        <div class="col-xs-12" data-bind="visible: organisers().length > 0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>Status</td>
                    <td>Email</td>
                    <td>Added</td>
                    <td></td>
                </tr>
                </thead>
                <tbody data-bind="foreach: organisers">
                <tr>
                    <td>
                        <span class="label"
                              data-bind="text: status, css : statusClass"></span>
                    </td>
                    <td data-bind="text: email"></td>
                    <td data-bind="text: lastModifiedDate"></td>
                    <td class="text-right">
                        <button class="btn btn-default" data-bind="click: $parent.removeOrganiser">
                            <i class="fa fa-times"></i>
                            <span class="hidden-xs">
                                Revoke Access
                            </span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    
    
</div>


