@using Paramount
@using Paramount.ApplicationBlock.Mvc
@using Paramount.Betterclassifieds.Presentation.LegacyIntegration
@model Paramount.Betterclassifieds.Presentation.ViewModels.HomeModel

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
    ViewBag.Title = "Classifieds Home - Find everything you're looking for right here";
}

<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">Latest Ads</div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="list-group">

            @foreach (var ad in Model.AdSummaryList)
            {
                <a href="@Url.AdUrl(@ad.TitleSlug, @ad.AdId)" class="list-group-item">
                    <div class="media">
                        @if (ad.ImageUrls.Any())
                        {
                            <img class="media-object pull-right thumbnail" 
                                alt="84x84" 
                                src="@Url.Action("Render", "Image", new { documentId = ad.ImageUrls.First(), height = 84, width = 84 })" />
                        }

                        <div class="media-body">
                            <h4 class="media-heading">@ad.Title</h4>
                            <p>
                                @ad.Description.TruncateOnWordBoundary(150)
                            </p>
                            <p>
                                <span class="label label-category">@ad.CategoryName</span>
                                @foreach (var publication in ad.Publications)
                                {
                                    <span class="label label-publication">@publication</span>
                                }
                            </p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>


@*Home utilities for users*@
<div class="row">
    <div class="col-md-4">
        <div class="jumbotron">
            <p>
                Start designing your online and print ad now!
            </p>
            <p>
                <a class="btn btn-lg btn-primary" href="@Url.Content(LegacyLinks.StartBooking)" role="button">Place New Ad &raquo;</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <p>
                Looking for a tutor? Find one near you.
            </p>
            <p>
                <a class="btn btn-lg btn-primary" href="@Url.ListingsUrl("Tutors")" role="button">View Tutors Ads &raquo;</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <p>
                Need help or suggestion to improve this website?
            </p>
            <p>
                <a class="btn btn-lg btn-primary" href="@Url.Content(LegacyLinks.Contact)" role="button">Contact Us &raquo;</a>
            </p>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

    </script>
}