@model List<Paramount.Betterclassifieds.Presentation.Models.AdSummaryView>

@{
    Layout = Url.Content("~/Presentation/Views/Shared/_Layout.TheMusic.cshtml");  
}

<h1>Hello, from the Music</h1>

<h1 class="cat-heading">Latest Posts</h1>

@foreach (var ad in Model)
{
    <article class="news-item">
	<a href="news/all/2013/12/14/the-wailers-sly-and-robbie-announce-bluesfest-sideshows/">
		<figure>
			<img src="">
		</figure>
		<hgroup>
			<span class="category">@ad.ParentCategoryName||@ad.ChildCategoryName</span>
			<h1>@ad.Title</h1>
			<time datetime="@ad.PostedDate" pubdate="">@ad.PostedDate</time>
		</hgroup>	
		<p>@ad.Description</p>
	</a>
</article>
}