@using Paramount
@using Paramount.Betterclassifieds.Configuration

@{
    var brand = ConfigManager.ReadAppSetting<string>("Brand");
    Layout = brand.HasValue() ? string.Format("~/Views/Shared/_Layout.{0}.cshtml", brand) : "~/Views/Shared/_Layout.cshtml";
}

@section HeadSection{
    @RenderSection("HeadSection", false)
}


@RenderSection("Main", false)

@*Body*@
@RenderBody()

@section Scripts{

    @RenderSection("Scripts", required: false)
}


@*Footer*@
<div class="clearfix"></div>
<footer class="footer">
    <div class="container">
        <p class="pull-left">
            &copy; @DateTime.Now.Year - <a target="_blank" href="http://www.paramountit.com.au">Powered by Paramount IT Solutions</a>
        </p>

        <p class="pull-right">
            <a href="@Url.Action("ContactUs", "Home")">Contact Us</a>
        </p>
    </div>
</footer>
