@using Paramount
@using Paramount.ApplicationBlock.Configuration

@{
    var brand = ConfigManager.ReadAppSetting<string>("Brand");
    Layout = brand.HasValue() ? string.Format(Url.ClientUrl("~/Views/Shared/_Layout.{0}.cshtml"), brand) : Url.ClientUrl("~/Views/Shared/_Layout.cshtml");
}

@section HeadSection{
    @RenderSection("HeadSection", false)

}

@*Login and Place Ad Row*@
<div class="row top-buffer-10">
    <div class="col-sm-6 col-md-8"></div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary" style="margin-top: 0" href="@Url.Action("Step1", "Booking")"><i class="fa fa-pencil"></i> Place new Ad</a>

            @Html.Partial("_LoginStatus")
        </div>
    </div>
</div>

<div class="top-buffer-10"></div>

@*Navbar*@
@Html.Partial("_Navbar")


@RenderSection("QuickSearch", required: false)

<div class="top-buffer-20"></div>

@*Body*@
@RenderBody()

@section Scripts{

    @RenderSection("Scripts", required: false)
}


@*Footer*@
<div class="clearfix"></div>
<footer class="footer">
    <div class="top-buffer-10"></div>
    <p>
        &copy; @DateTime.Now.Year - <a target="_blank" href="http://www.paramountit.com.au">Powered By Paramount IT Solutions</a>
    </p>
</footer>
