<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="themusic.com.au - Australia's # 1 print and online classifieds network!" />
    <meta name="keywords" content="themusic, classifieds, classified, newspaper, deal, sell, buy, trade, paypal, online, streetpress, street press, Inpress, Time Off, Drum Media Sydney, Drum Media Perth, 3D World, Drum Media, Lure, magazine, Sydney, Brisbane, Melbourne, Perth, Adelaide, Tasmania, Darwin, New South Wales, Victoria, Queensland, Tasmania, Northern Territory, South Australia, Western Australia,  Employment, For Sale, Music Services, Musicians Available, Musicians Wanted, Services, Wanted, Bass Player, DJ, Drummer, Guiarist, Keyboard, Singer, Song Writer, Band Merchandise, Booking Agents, Duplication, Mastering, EP Release, Hire Services, Legal, Accounting, Management, Mastering, PA, Audio, Engineering, Photography, Posters, Printing, Recording Studios, Rehearsal Rooms, Repairs, Studio Hire, Transport, Tuition, Video, Production, Amps, Bass, Cases, CD, DVD, Computers, Decks, Furniture, Guitars, Keyboards, Mixers, PA Equipment, Recreational Equipment, Beauty Services, Graphic Design, Piercing, Tattoo, Tuition" />
    <meta property="og:site_name" content="TheMusic Classifieds" />

    @RenderSection("HeadSection", false)

    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="@Url.Content("~/Content/TheMusic/img/themusic_favicon.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Content/TheMusic/img/themusic_favicon.ico")" type="image/ico" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-3.1.0.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/site.css")" />

    <!-- TheMusic -->
    <link rel="stylesheet" href="@Url.Content("~/Content/TheMusic/themusic.min.css")" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function () {
            var gads = document.createElement("script");
            gads.async = true;
            gads.type = "text/javascript";
            var useSSL = "https:" == document.location.protocol;
            gads.src = (useSSL ? "https:" : "http:") + "//www.googletagservices.com/tag/js/gpt.js";
            var node = document.getElementsByTagName("script")[0];
            node.parentNode.insertBefore(gads, node);
        })();
    </script>
    <script type="text/javascript">
        googletag.cmd.push(function () {
            // var adSlot1 = googletag.defineSlot('/6355419/Travel/Europe/France/Paris',[300, 250], "banner1");
            googletag.defineSlot('/4446275/Leaderboard_top', [728, 90], "leadboard").addService(googletag.pubads());
            googletag.defineSlot('/4446275/StripAd_top', [1110, 40], 'div-gpt-ad-1332716467013-20').addService(googletag.pubads()).setTargeting('Pages', 'Home');
            googletag.defineSlot('/4446275/skin_left', [150, 901], 'div-gpt-ad-1332716467013-18').addService(googletag.pubads()).setTargeting('Pages', 'Home');
            googletag.defineSlot('/4446275/skin_right', [150, 900], 'div-gpt-ad-1332716467013-19').addService(googletag.pubads()).setTargeting('Pages', 'Home');
            googletag.enableServices();
        });
    </script>
</head>
<body class="themusic-background">

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.11.0.js")"></script>

    <div class="container">

        <div class="row top-buffer-40">
            <div class="col-sm-4 left-buffer-20">
                <a href="http://themusic.com.au/">
                    <img class="themusic-logo" src="@Url.Content("~/Content/TheMusic/img/tmlogo.png")"
                         alt="The Music | theMusic.com.au | Australia’s Premier Music News &amp; Reviews Website" />
                </a>
            </div>
            <div class="col-sm-8">
                <div id="leadboard" class="pull-right visible-sm visible-md visible-lg google-top-ad">
                    <script type="text/javascript">
                        googletag.cmd.push(function () { googletag.display('leadboard'); });
                    </script>
                </div>
            </div>
        </div>

        @*Render the application layout*@
        @RenderBody()

    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate-1.12.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-3.1.0.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/paramount-validate-default.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/paramount-site.min.js")"></script>

    @RenderSection("Scripts", false)

    @*Facebook integration*@
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=143183162513319";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    @*Google Integration*@
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-12017002-5");
            pageTracker._trackPageview();

        } catch (err) { }

    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19118426-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>
</html>