<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Sri Lanka Events Australia, Melbourne,Sri Lankan event, sri lankan shops, sri lankan restaurants, melbourne australia, sydney australia, perth australia, brisbane australia, darwin australia, adelaide australia, melbourne, sydney, canberra australia, tasmania australia, tasmania, bisbane, canberra, adelaide,indian restaurants, asian groceries, sri lankan food, sri lankan tele dramas, srilankan films, sri lankan musical shows, sri lankna dinner dance, melbourne news, sri lankan news, Breaking News from Sri Lanka, politics, business, sports and entertainment, Sri Lanka Events Calendar Australia"/>
    <meta name="keywords" content="srilankamorningshow, Sri Lanka Morning Show,srilankamorningshow.com, sri lanka, sri lanka breaking news, news, breaking news, Sri Lanka, SRI LANKA, Breaking News,Sri Lanaka News,SRI LANKA NEWS, upto date Sri Lankan News, Hot News, Hot Comments, Sri Lankan event, sri lankan shops, sri lankan restaurants, melbourne australia, sydney australia, perth australia, brisbane australia, darwin australia, adelaide australia, melbourne, sydney, canberra australia, tasmania australia, tasmania, bisbane, canberra, adelaide,indian restaurants, asian groceries, sri lankan food, sri lankan tele dramas, srilankan films, sri lankan musical shows, sri lankna dinner dance, melbourne news, sri lankan news, Breaking News from Sri Lanka, politics, business, sports and entertainment"/>
    <meta name="ROBOTS" content="ALL"/>
    <meta name="rights" content="srilankaevents.com" />

    
    @RenderSection("HeadSection", false)

    <link rel="shortcut icon" href="@Url.Content("~/Content/SriLankanEvents/ico/favicon.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.Content("~/Content/SriLankanEvents/ico/favicon.ico")" type="image/ico" />

    <title>@ViewBag.Title - Sri Lankan Event, sri lankan shops, sri lankan restaurants, melbourne australia,
        sydney australia, perth australia, brisbane australia, darwin australia, adelaide
        australia, melbourne, sydney, canberra australia, tasmania australia, tasmania,
        bisbane, canberra, adelaide,indian restaurants, asian groceries, sri lankan food,
        sri lankan tele dramas, srilankan films, sri lankan musical shows, sri lankna dinner
        dance, melbourne news, sri lankan news, Breaking News from Sri Lanka, politics,
        business, sports and entertainment</title>

    @*Specific theme*@
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-theme-united-3.3.0.min.css")" />

    @*Base styles - see bundling configuration*@
    @Styles.Render("~/Content/css-base")

    <link rel="stylesheet" href="@Url.Content("~/Content/SriLankanEvents/Lanka.min.css")" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Html.Partial("_HeadScripts")
</head>
<body>

    @*JQuery should go before anything*@
    @Scripts.Render("~/bundle/jquery")

    <header>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            @Html.Partial("_Navbar")
        </div>
    </header>

    @*Render the application layout*@
    @RenderBody()

    @Html.Partial("_ApplicationScripts")

    @RenderSection("Scripts", false)
</body>
</html>
