<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("HeadSection", false)

    <title>@ViewBag.Title</title>

    @*Base styles - see bundling configuration*@
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-3.3.0.min.css")" />
    @Styles.Render("~/Content/css-base")


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    @*JQuery should go before anything*@
    @Scripts.Render("~/bundle/jquery")

    <header>
        <div class="navbar navbar-default" role="navigation" id="navbar">
            @Html.Partial("_Navbar")
        </div>
    </header>
    
    @RenderBody()


    @Html.Partial("_ApplicationScripts")
    @RenderSection("Scripts", false)
</body>
</html>
