<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("HeadSection", false)

    <title>@ViewBag.Title - KandoBay Classifieds</title>

    @*KandoBay specific styles*@
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-theme-yeti.min.css")" />

    @*Base styles - see bundling configuration*@
    @Styles.Render("~/Content/css-base")

    @*<link rel="stylesheet" href="@Url.Content("~/Content/KandoBay/kando.min.css")" />*@
    @Styles.Render("~/Content/css-kando")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="@Url.ContentForBrand("/ico/favicon.ico")" type="image/x-icon" />
    <link rel="icon" href="@Url.ContentForBrand("/ico/favicon.ico")" type="image/ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.ContentForBrand("/ico/apple-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.ContentForBrand("/ico/apple-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.ContentForBrand("/ico/apple-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.ContentForBrand("/ico/apple-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.ContentForBrand("/ico/apple-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.ContentForBrand("/ico/apple-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.ContentForBrand("/ico/apple-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.ContentForBrand("/ico/apple-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.ContentForBrand("/ico/apple-icon-180x180.png")">
    <link rel="icon" type="image/png" sizes="192x192" href="@Url.ContentForBrand("/ico/android-icon-192x192.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.ContentForBrand("/ico/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.ContentForBrand("/ico/favicon-96x96.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.ContentForBrand("/ico/favicon-16x16.png")">
    <link rel="manifest" href="@Url.ContentForBrand("/ico/manifest.json")">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>

    @*JQuery should go before anything*@
    @Scripts.Render("~/bundle/jquery")

    <header>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            @Html.Partial("_Navbar")
        </div>
    </header>

    @*Render the application layout*@
    @RenderBody()

    @Html.Partial("_ApplicationScripts")

    @*Rotator for the home page*@
    <script type="text/javascript">
        $("#leadtext").Morphext({
            animation: "fadeInRight",
            separator: "|",
            speed: 3500
        });
    </script>

    @RenderSection("Scripts", false)
</body>
</html>
