@using Paramount

@model List<AdSummaryViewModel>

<div class="list-group">
    @if (Model.IsNullOrEmpty())
    {
        <div class="well">
            Oh No! There are no results to display. If you were doing a search, try to relax the filters and try again.
        </div>
    }

    @foreach (var ad in Model)
    {
        <a href="@Url.AdUrl(ad.HeadingSlug, ad.AdId, routeName: ad.CategoryAdType)" class="list-group-item">
            <div class="media">
                @if (ad.ImageUrls.Any())
                {
                    <img class="media-object pull-right thumbnail"
                         alt="100x100"
                         src="@Url.Action("Render", "Image", new {documentId = ad.ImageUrls.First(), height = 100, width = 100})"/>
                }
                else
                {
                    <i class="media-object pull-right thumbnail fa fa-5x fa-@ad.CategoryFontIcon"></i>
                }
                <div class="media-body">
                    <h4 class="media-heading">@ad.Heading <small><strong>(@ad.AdId)</strong></small></h4>
                    <p>@ad.Description.TruncateOnWordBoundary(150)</p>
                    <p>
                        
                        <span class="label label-category">@ad.ParentCategoryName</span>
                        <span class="label label-category">@ad.CategoryName</span>
                        @foreach (var publication in ad.Publications)
                        {
                            <span class="label label-publication">@publication</span>
                        }
                        
                    </p>
                    <p><small>@ad.BookingDateFriendly</small> </p>
                </div>
            </div>
        </a>
    }
</div>
