@using Paramount

@model List<Paramount.Betterclassifieds.Presentation.ViewModels.AdSummaryViewModel>

<div class="list-group">
    @if (Model.IsNullOrEmpty())
    {
        <div class="well">
            Sorry ... There are no results to display for your search. Try again with a less specific filters.
        </div>
    }

    @foreach (var ad in Model)
    {
        <a href="@Url.AdUrl(@ad.TitleSlug, @ad.AdId)" class="list-group-item">
            <div class="media">
                @if (ad.ImageUrls.Any())
                {
                    <img class="media-object pull-right thumbnail"
                         alt="84x84"
                         src="@Url.Action("Render", "Image", new { documentId = ad.ImageUrls.First(), height = 84, width = 84 })" />
                }

                <div class="media-body">
                    <h4 class="media-heading">@ad.Title</h4>
                    <p>
                        @ad.Description.TruncateOnWordBoundary(150)
                    </p>
                    <p>
                        <span class="label label-category">@ad.CategoryName</span>
                        @foreach (var publication in ad.Publications)
                        {
                            <span class="label label-publication">@publication</span>
                        }
                    </p>
                </div>
            </div>
        </a>
    }
</div>
