@model RegisterViewModel

<h2>Registration</h2>
<p>CreateRepository an account to maximise your benefits. </p>
<form role="form" method="POST" action="@Url.Action("Register")">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ReturnUrl)

    <div class="form-group">
        @Html.LabelFor(m => m.RegisterEmail)
        @Html.TextBoxFor(m => m.RegisterEmail, new { @class = "form-control", required = "", autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.RegisterEmail)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RegisterPassword)
        @Html.PasswordFor(m => m.RegisterPassword, new { @class = "form-control", required = "", autocomplete = "off", @pattern = ".{6,50}" })
        @Html.ValidationMessageFor(m => m.RegisterPassword)
        <p class="help-block">Must be between 6 and 50 characters.</p>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", required = "" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", required = "" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PostCode)
        @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control", required = "", @maxlength = 4, data_numbers_only = true })
        @Html.ValidationMessageFor(m => m.PostCode)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", required = "", @maxlength = 12, data_numbers_only = "true" })
        @Html.ValidationMessageFor(m => m.Phone)
    </div>
    
    <div class="g-recaptcha" data-sitekey="@Model.GoogleCaptchaKey"></div>

    <div class="form-group top-buffer-10">
        <button type="submit" id="btnRegister" class="btn btn-default">Register</button>
    </div>
</form>