@using Paramount
@model AccountConfirmationViewModel

@{
    ViewBag.Title = "Classifieds - Account confirmation result";
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
}

<div class="container-fluid container-body">
    <div class="row">
        <div class="col-xs-12">
            <h2 id="confirmationHeading">Confirmation Required</h2>
            <div id="confirmationMessage" class="well well-lg">
                We sent you an email with a confirmation code. In order for us to ensure that the email
                belongs to you, please copy the number from the email in to the form below.
            </div>
            <form  method="POST" action="@Url.ConfirmRegistration()">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.RegistrationId)
                @Html.HiddenFor(m => m.ReturnUrl)

                <div class="form-group">
                    <label for="token">Confirmation Code</label>
                    <input type="text" id="token" name="token" class="form-control" data-numbers-only style="width: 80px" maxlength="4" />
                    @Html.ValidationMessageFor(m => m.Token)
                </div>

                @if (Model.TokenNotValid)
                {
                    <div class="alert alert-danger">
                        The token provided is not valid.
                    </div>
                }

                <button type="submit" class="btn btn-default">
                    Submit
                </button>
            </form>
            <hr />
        </div>
    </div>
</div>
