@using Paramount
@model Paramount.Betterclassifieds.Presentation.ViewModels.UserDetailsEditView

@{
    ViewBag.Title = "My Details";
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayoutWithSearch.cshtml");
}

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("_UserMenu")
    </div>
</div>

<h1 class="page-header">My Details</h1>

@if (ViewBag.Updated)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        Your details have been updated successfully.
    </div>
}

<form role="form" method="POST" action="@Url.Action("Details", "Account")">
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", required = "" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", required = "" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AddressLine1)
        @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AddressLine1)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AddressLine2)
        @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AddressLine2)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.State)
        @Html.DropDownListFor(m => m.State, Model.StateList, "Please Select", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PostCode)
        @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control", required = "", data_numbers_only = "true", @maxlength = 4 })
        @Html.ValidationMessageFor(m => m.PostCode)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", data_numbers_only = "true", @maxlength = 12 })
        @Html.ValidationMessageFor(m => m.Phone)
    </div>

    <div class="form-group">
        <button type="submit" id="btnRegister" class="btn btn-default">Update Details</button>
    </div>

</form>