@model LoginOrRegisterModel

@{
    Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
    ViewBag.Title = "Welcome";
}

<div class="container top-buffer-60">
    @if (!ViewData.ModelState.IsValid)
    {
        var errors = ViewData.ModelState.Values.SelectMany(m => m.Errors).Select(e => e.ErrorMessage);

        foreach (var error in errors)
        {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>OH Snap!</strong> <span>@error</span>
            </div>
        }
    }

    @if (Model.LoginHelpMessage.HasValue())
    {
        <div class="alert alert-warning">
            @Model.LoginHelpMessage
        </div>
    }

    <div class="container-fluid  container-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    @Html.Partial("_LoginPartial", Model.LoginViewModel)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="well">
                    @Html.Partial("_RegisterPartial", Model.RegisterViewModel)
                </div>
            </div>
        </div>
    </div>

    @*Login Modal*@
    <div class="modal fade" id="passwordResetModal" tabindex="-1" role="dialog" aria-labelledby="passwordResetModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Recover your password
                </div>
                <div class="modal-body">
                    <div id="passwordReset" data-url="@Url.Action("ForgotPassword")">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" class="form-control" id="EmailForRecovery" />
                        </div>
                        <div class="alert alert-success" id="forgotPassword_Success">
                            A new password has been generated and sent to your email.
                        </div>
                        <div class="alert alert-danger" id="forgotPassword_Fail">
                            @*Set by javascript*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-loading-text="Sending..." id="btnSubmit">Send me a new one</button>
                </div>
            </div>
        </div>
    </div>
</div>