@using Paramount
@model dynamic

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayoutWithSearch.cshtml");
    ViewBag.Title = "Manage my Ads";
}

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("_UserMenu")
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <h2 class="page-header">My Ads</h2>
    </div>
    <div class="col-sm-6">
        <div class="btn-group btn-lg user-menu-filters pull-right" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> All
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> Current
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Scheduled
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> Expired
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>#14458 - Title of the ad</strong>
                <div class="pull-right">
                    <strong>
                        <a href="@Url.Action("Details", "EditAd", new { Id = 14458 })">
                            Edit <i class="fa fa-pencil"></i>
                        </a>
                        &nbsp; | &nbsp;
                        <a href="@Url.Action("Cancel", "EditAd", new { Id = 14458 })">
                            Cancel <i class="fa fa-trash"></i>
                        </a>
                        &nbsp; | &nbsp;
                        <a href="@Url.Action("ViewAd", "Listings", new { Id = 14458 })">
                            View <i class="fa fa-eye"></i>
                        </a>
                    </strong>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        Code School teaches web technologies in the comfort of your browser with video lessons, coding challenges, and screencasts.
                    </div>
                    <div class="col-xs-2">
                        <img class="thumbnail" alt="100x100" src="/iflog/img/6ba06205-5b1d-4f9f-b7c1-543665c17775/100/100">
                    </div>
                    <div class="col-xs-4">
                        <dl class="dl-horizontal myads-date-info">
                            <dt>Posted</dt>
                            <dd>2 Days Ago</dd>
                            <dt>Ends</dt>
                            <dd>20th May</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                Visits : 20
                <div class="pull-right">
                    <strong>
                        Messages <i class="fa fa-envelope"></i> ( 2 )
                        &nbsp; | &nbsp;
                        Invoice <i class="fa fa-file"></i>
                    </strong>
                </div>
                &nbsp;
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/Account/UserService.js")"></script>
    <script src="@Url.Content("~/Scripts/Account/UserBookings.js")"></script>
    
    <script>
        $paramount.userService.getAdsForUser();
    </script>
}