@using Paramount.Betterclassifieds.Presentation.ViewModels.Email

@model ListingCompleteEmail

@{
    Layout = "~/Views/Email/_EmailMaster.cshtml";

}

<p>
    Hi @Model.Email. Your listing number <strong>@Model.Id</strong> titled
    <strong>@Model.Heading</strong> has been placed successfully.
    It commences @Model.ListingDate.ToString("dd-MMM-yyyy HH:mm").
    <a href="@Model.ListingUrl">Click here to view it online.</a>
</p>