@using Paramount
@using Paramount.ApplicationBlock.Configuration
@using Paramount.Betterclassifieds.Presentation.LegacyIntegration
@{
    var brand = ConfigManager.ReadAppSetting<string>("Brand");
    Layout = brand.HasValue() ? string.Format(Url.ClientUrl("~/Views/Shared/_Layout.{0}.cshtml"), brand) : Url.ClientUrl("~/Views/Shared/_Layout.cshtml");
}

@*Login and Place Ad*@
<div class="row top-buffer-10">
    <div class="col-md-12">
        <div class="btn-group pull-right">
            <a href="@Url.Content(LegacyLinks.Login)" class="btn btn-default">Login</a>
            <a href="@Url.Content(LegacyLinks.Register)" class="btn btn-default">Register</a>
            <a href="@Url.Content(LegacyLinks.StartBooking)" class="btn btn-primary">Place New Ad</a>
        </div>
    </div>
</div>

<div class="top-buffer-10"></div>

@Html.Partial("_Navbar")


<div class="row">
    <form role="form" method="POST" action="@Url.Action("Search")">
        <div class="col-sm-5">
            <input type="text" name="searchKeyword" id="searchKeyword" class="form-control" placeholder="Keyword or Ad ID">
        </div>
        <div class="col-sm-5">
            <select name="searchCategoryId" id="searchCategoryId" class="form-control js-parentCategories">
            </select>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-default btn-block">Search</button>
        </div>

    </form>
</div>

@*Body*@
@RenderBody()

@section Scripts{
    <script type="text/javascript">
        (function ($) {
            $().ready(function () {

                // Load categories via http json
                
                $.getJSON("@Url.Action("GetTopLevel", "Categories")").done( function(data) {
                    var $categorySelect = $('.js-parentCategories');
                    $categorySelect.empty();
                    $.each(data, function (index, value) {
                        $categorySelect.append('<option value="' + value.CategoryId + '">' + value.CategoryName + '</option>');
                    });
                });

            });
        })(jQuery);
    </script>

    @RenderSection("Scripts", required: false)
}

@*Footer*@

<footer>
    <p>&copy; @DateTime.Now.Year - Powered By Paramount IT Solutions</p>
</footer>

