@using Paramount

@model Paramount.Betterclassifieds.Presentation.ViewModels.SearchModel

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
}

<div class="row top-buffer-20">

    @*Filters*@
    <div class="col-sm-3 hidden-xs">
        <div class="panel panel-default" style="border: 1px solid #eee">
            <div class="panel-heading">
                <h4>Refine Search</h4>
            </div>
            <div class="panel-body">
                <form role="form" method="GET" action="@Url.Action("Find")">
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchFilters.Keyword)
                        @Html.TextBox("Keyword", Model.SearchFilters.Keyword, new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchFilters.CategoryId)
                        <select id="CategoryId" class="form-control input-sm js-select"
                                data-url="@Url.Action("GetCategoryOptions", "Categories")"
                                data-selected="@Model.SearchFilters.CategoryId"></select>
                    </div>
                    <button type="submit" class="btn btn-default btn-sm">
                        Go
                    </button>
                </form>
            </div>
        </div>
    </div>

    @*Ad Details*@
    <div class="col-sm-9">
        <div class="well">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <label for="sortByList">Sort By</label>
                    <select id="sortByList" class="form-control input-sm">
                        <option value="Newest">Newest First</option>
                        <option value="Oldest">Expiring First</option>
                        <option value="PriceLow">Price - Lowest First</option>
                        <option value="PriceHigh">Price - Highest First</option>
                    </select>
                </div>
            </div>
        </div>

        @Html.Partial("_ListingResults", Model.SearchResults)

    </div>
</div>