@using Paramount

@model Paramount.Betterclassifieds.Presentation.ViewModels.AdViewModel

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
}

<ol class="breadcrumb">
    @if ((bool)ViewBag.IsComingFromSearch)
    {
        <li> <a href="@ViewBag.BackToSearchUrl.ToString()">Back to Search results</a> </li>
    }
    <li>@Model.ParentCategoryName</li>
    <li>@Model.CategoryName</li>
    <li><strong>@Model.AdId</strong></li>
</ol>

<div class="container-fluid container-body left-buffer-20">

    <h2 class="ad-title-h2">@Model.Heading</h2>
    <div class="row">

        @*Ad Details*@
        <div class="col-sm-8">
            @if (Model.HasImages)
            {
                @*Image Gallery*@
                <div id="imageGallery" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    @if (Model.ShowImageSlideshow)
                    {
                        <ol class="carousel-indicators">
                            <li data-target="#imageGallery" data-slide-to="0" class="active"></li>
                            @for (var i = 1; i <= Model.ImageUrls.Length - 1; i++)
                            {
                                <li data-target="#imageGallery" data-slide-to="@i"></li>
                            }
                        </ol>
                    }

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="@Url.Action("Render", "Image", new{ documentId = @Model.ImageUrls.First(), height = 500, width = 900} )" alt="900x500">
                        </div>
                        @foreach (var img in Model.ImageUrls.Skip(1))
                        {
                            <div class="item">
                                <img src="@Url.Action("Render", "Image", new { documentId = img, height = 500, width = 900})" />
                            </div>
                        }
                    </div>

                    <!-- Controls for more than one image -->
                    @if (Model.ShowImageSlideshow)
                    {
                        <a class="left carousel-control" href="#imageGallery" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#imageGallery" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    }
                </div>
            }

            <div class="top-buffer-40">
                @if (Model.TutorAd != null)
                {
                    @Html.DisplayFor(m => m.TutorAd)
                }

                @*Description*@
                @Html.Raw(Model.HtmlText)
            </div>

        </div>

        @*Social buttons and Contact*@
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Details (Ad ID: @Model.AdId) 
                </div>
                <table class="table table-striped">

                    @if (Model.ContactName.HasValue())
                    {
                        <tr title="Contact Name">
                            <td><span class="glyphicon glyphicon-user"></span></td>
                            <td>@Model.ContactName</td>
                        </tr>
                    }
                    @if (Model.ContactValue.HasValue())
                    {
                        <tr>
                            <td>
                                @if (Model.IsContactEmail)
                                {
                                    <span class="glyphicon glyphicon-envelope"></span>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-phone"></span>
                                }
                            </td>
                            <td>@Model.ContactValue</td>
                        </tr>
                    }
                    @if (Model.Price.HasValue)
                    {
                        <tr title="Price">
                            <td><span class="glyphicon glyphicon-usd"></span></td>
                            <td>@Model.Price.ToString()</td>
                        </tr>
                    }
                    <tr title="Location">
                        <td><span class="glyphicon glyphicon-globe"></span></td>
                        <td>@Model.LocationName > @Model.LocationAreaName</td>
                    </tr>
                    <tr title="Listing date">
                        <td><span class="glyphicon glyphicon-dashboard" title="Listing date"></span></td>
                        <td>@Model.PostedDate</td>
                    </tr>
                    <tr title="Visits">
                        <td><span class="glyphicon glyphicon-eye-open"></span></td>
                        <td>@Model.NumOfViews</td>
                    </tr>
                </table>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    Contact Advertiser
                </div>

                <div class="panel-body">
                    <div class="alert alert-success hidden" id="enquirySuccessful">Your message has been sent successfully</div>
                    <form id="adEnquiryForm">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.OnlineAdId)
                        @Html.HiddenFor(m => m.AdId)
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input type="text" name="fullName" id="fullName" class="form-control"
                                   data-val="true" data-val-required="Full name is required"
                                   data-val-length="Full Name must be no longer than 100 characters" data-val-max-length="100" />
                            <span class="field-validation-valid help-block" data-valmsg-for="fullName" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control"
                                   data-val="true" data-val-required="Email is required"
                                   data-val-length="Email must be no longer than 100 characters" data-val-max-length="100"
                                   data-val-email="Email does not appear to be in valid format." />
                            <span class="field-validation-valid help-block" data-valmsg-for="email" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="question">Your Question</label>
                            <textarea name="question" id="question" class="form-control" rows="3"
                                      data-val="true" data-val-required="Question is required"></textarea>
                            <span class="field-validation-valid help-block" data-valmsg-for="question" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <button id="btnSubmit" class="btn btn-primary btn-block" data-loading-text="Please wait..">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(function () {

            $('#adEnquiryForm').submit(function (e) {
                e.preventDefault();
                submitEnquiry();
            });

            function submitEnquiry() {

                var $btn = $('#btnSubmit');
                var validation = $('#adEnquiryForm').validate();
                if (!validation.valid())
                    return false;

                $btn.button('loading');

                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("AdEnquiry")',
                    data: $('#adEnquiryForm').serialize()
                }).always(function () {
                    $btn.button('reset');
                }).success(function () {
                    $('#adEnquiryForm').slideUp(500, function () {
                        $('#enquirySuccessful').removeClass('hidden');
                    });
                });

                return false;
            }
        });
    </script>
}