@using Paramount

@model Paramount.Betterclassifieds.Presentation.ViewModels.AdViewModel

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
}

<div class="container-fluid container-body" style="padding: 20px">

    @*todo - breadcrumb*@
    @*todo - back to search results*@

    @*Top Header for Ad*@
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">@Model.Heading</h1>
            <p>
                @Model.AdId
            </p>
        </div>
    </div>

    <div class="row">
        @*Ad Details*@
        <div class="col-sm-8">
            @if (Model.ImageUrls.Length > 0)
            {
                @*Image Gallery*@
                <div id="imageGallery" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#imageGallery" data-slide-to="0" class="active"></li>
                        @for (var i = 1; i <= Model.ImageUrls.Length - 1; i++)
                        {
                            <li data-target="#imageGallery" data-slide-to="@i"></li>
                        }
                    </ol>
                    
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="@Url.Action("Render", "Image", new{ documentId = @Model.ImageUrls.First(), height = 500, width = 900} )" alt="900x500">
                        </div>
                        @foreach (var img in Model.ImageUrls.Skip(1))
                        {
                            <div class="item">
                                <img src="@Url.Action("Render", "Image", new { documentId = img, height = 500, width = 900})"/>
                            </div>
                        }
                    </div>
                    
                    <!-- Controls -->
                    <a class="left carousel-control" href="#imageGallery" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#imageGallery" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            }
            
            @*Description*@
            <div>
                
            </div>

        </div>

        @*Social buttons and Contact*@
        <div class="col-sm-4">

        </div>
    </div>
</div>