@using Paramount

@model Paramount.Betterclassifieds.Presentation.ViewModels.AdViewModel

@{
    Layout = Url.ClientUrl("~/Views/Shared/_ApplicationLayout.cshtml");
}


<ol class="breadcrumb">
    <li>@Model.ParentCategoryName</li>
    <li>@Model.CategoryName</li>
    <li>Ad ID : @Model.AdId</li>
</ol>

<div class="container-fluid container-body left-buffer-20">

    <h2 class="ad-title-h2">@Model.Heading</h2>

    <div class="row">

        @*Ad Details*@
        <div class="col-sm-8">
            @if (Model.HasImages)
            {
                @*Image Gallery*@
                <div id="imageGallery" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    @if (Model.ShowImageSlideshow)
                    {
                        <ol class="carousel-indicators">
                            <li data-target="#imageGallery" data-slide-to="0" class="active"></li>
                            @for (var i = 1; i <= Model.ImageUrls.Length - 1; i++)
                            {
                                <li data-target="#imageGallery" data-slide-to="@i"></li>
                            }
                        </ol>
                    }

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="@Url.Action("Render", "Image", new{ documentId = @Model.ImageUrls.First(), height = 500, width = 900} )" alt="900x500">
                        </div>
                        @foreach (var img in Model.ImageUrls.Skip(1))
                        {
                            <div class="item">
                                <img src="@Url.Action("Render", "Image", new { documentId = img, height = 500, width = 900})" />
                            </div>
                        }
                    </div>

                    <!-- Controls for more than one image -->
                    @if (Model.ShowImageSlideshow)
                    {
                        <a class="left carousel-control" href="#imageGallery" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#imageGallery" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    }
                </div>
            }

            @*Description*@
            <div class="top-buffer-40">
                @Html.Raw(Model.HtmlText)
            </div>
        </div>

        @*Social buttons and Contact*@
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Advertiser Details
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    Visits : @Model.NumOfViews
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Get in touch
                </div>
                <div class="panel-body">
                    <form id="adEnquiryForm">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.AdId)
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input type="text" name="fullName" id="fullName" class="form-control"
                                   data-val="true" data-val-required="Full name is required"
                                   data-val-length="Full Name must be no longer than 100 characters" data-val-max-length="100" />
                            <span class="field-validation-valid help-block" data-valmsg-for="fullName" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control"
                                   data-val="true" data-val-required="Email is required"
                                   data-val-length="Email must be no longer than 100 characters" data-val-max-length="100"
                                   data-val-email="Email does not appear to be in valid format." />
                            <span class="field-validation-valid help-block" data-valmsg-for="email" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="question">Your Question</label>
                            <textarea name="question" id="question" class="form-control input-text" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <button id="btnSubmit" class="btn btn-primary btn-block" data-loading-text="Please wait..">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(function () {
            $('#submitEnquiryBtn').on('click', function () {
                submitEnquiry();
            });

            $('#adEnquiryForm').submit(function () {
                submitEnquiry();
            });

            function submitEnquiry() {
                 
                var $btn = $('#btnSubmit');
                $btn.button('loading');
                var validation = $('#adEnquiryForm').validate();
                if (!validation)
                    return false;
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("AdEnquiry")',
                    data: $('#adEnquiryForm').serialize()
                }).done(function () {
                    $btn.button('reset');
                }).success(function () {

                });
                return true;
            }
        });
    </script>
}